<div class="master-overlay homepage-search is-master-overlay-secondary-hidden is-master-overlay-maximized" id="collections-overlay">
  <%= render partial: 'overlay_parent' %>
  <div class="master-overlay-main">
    <div class="master-overlay-main-content" data-level="0">
      <section id="collection-results" class="master-overlay-has-min" data-master-overlay-title="Collections">
        <nav class="master-overlay-nav master-overlay-when-parent-hidden">
          <a href="#" class="master-overlay-show-parent" data-bind="click: showParent">
            <i class="fa fa-search"></i> Browse Collections
            <span class="master-overlay-when-max" data-bind="if: query.facets() && query.facets().length > 0">
               (<span data-bind="text: pluralize(query.facets().length, 'facet', 'facets')"></span> applied)
            </span>
          </a>
        </nav>
        <header>
          <h2>
            <strong class="collection-hits" data-bind="text: collections.hits"></strong> Matching Collections <a class="master-overlay-minimize master-overlay-when-max" href="#" title="Minimize"><i class="fa fa-chevron-circle-down"></i></a><a class="master-overlay-maximize master-overlay-when-min" href="#" title="Maximize"><i class="fa fa-chevron-circle-up"></i></a>
            <!-- <a title="Get Help: What are collections?" class="master-overlay-hide-parent master-overlay-show-next master-overlay-forward low-priority help" href="#"><i class="fa fa-question-circle"></i></a> -->
          </h2>
        </header>
        <div class="master-overlay-info master-overlay-when-min">
          <p data-bind="visible: !project.isEmpty()" class="button-details">
            <a id="view-project-min" class="button master-overlay-hide-parent master-overlay-show-next master-overlay-forward" href="#">
              <i class="fa fa-folder-o"></i> View Project
            </a>
          </p>
        </div>
        <div class="master-overlay-info master-overlay-when-max">
          <div class="collection-filters">
            <input type="checkbox" id='has-granules' data-bind="checked: query.hasGranules" />
            <label for="has-granules">Hide collections without granules</label>
          </div>
          <p data-bind="if: collections.loadTime() !== null" class="panel-list-meta">
            <% if Rails.configuration.feedback_url.present? %>
            <a href="#" data-bind="click: $root.ui.feedback.showFeedback.bind($data, 'Collection Results', null)" class="button feedback-button">
              <i class="fa fa-exclamation-circle"></i>
              Report a metadata problem
            </a>
            <% end %>
          </p>
        </div>
        <div id="collection-scroll-pane" class="master-overlay-content" data-bind="event: {scroll: ui.collectionsList.scrolled}">

          <div class="panel-list">
            <!-- ko if: collections.results().length > 0 -->
            <edsc-collections-collapsed id="coll-collection-results-list" params="page: $data, collections: collections.results, isProject: false" class="master-overlay-when-min"></edsc-collections-collapsed>
            <!-- /ko -->
            <ul id="collection-results-list"
                class="panel-list-list knockout-template master-overlay-when-max"
                data-bind="foreach: collections.results, css: { 'knockout-template': !bindingsLoaded }">
              <%= render partial: 'collection_list_item', locals: {is_project: false} %>
            </ul>
            <p class="panel-list-load-more" data-bind="visible: collections.isLoading">
              Loading collections...
            </p>
            <% if portal? %>
            <p class="portal-escape" data-bind="visible: !collections.isLoading()">
              Looking for more collections?
              <a href="#" data-bind="click: ui.collectionsList.escapePortal" class="portal-escape-link">Leave the <%= site_name %></a>
            </p>
            <% end %>
          </div>
        </div>
      </section>
      <section id="project-overview" class="master-overlay-hide-self master-overlay-no-min">
        <a class="master-overlay-close master-overlay-hide" href="#" title="close"><i class="fa fa-times-circle"></i></a>
        <nav class="master-overlay-nav">
          <a class="master-overlay-back master-overlay-hide-secondary" href="#" data-bind="click: ui.projectList.hideFilters">
            <i class="fa fa-arrow-circle-o-left"></i> Back to Collection Search
          </a>
        </nav>
        <header class="with-options">
          <h2>Project Collections</h2>
          <div class="master-overlay-global-actions actions">
            <a href="#" class="button retrieve" title="Retrieve project data" data-bind="click: $root.ui.projectList.loginAndDownloadProject, visible: !project.isEmpty()">
              <i class="fa fa-download"></i> Retrieve Project Data
            </a>

            <a href="#" title="View all collections" data-bind="visible: !$root.ui.projectList.allCollectionsVisible() && !project.isEmpty(), click: $root.ui.projectList.toggleViewAllCollections" class="button icon-button" >
              <i class="fa fa-eye"></i>
            </a>
            <a href="#" title="Hide all collections" data-bind="visible: $root.ui.projectList.allCollectionsVisible() && !project.isEmpty(), click: $root.ui.projectList.toggleViewAllCollections" class="button icon-button button-active" >
              <i class="fa fa-eye"></i>
            </a>
          </div>
        </header>
        <div class="master-overlay-content panel-list">
          <ul id="project-collections-list"
              class="panel-list-list knockout-template"
              data-bind="foreach: project.collections, css: { 'knockout-template': !bindingsLoaded }">
            <%= render partial: 'collection_list_item', locals: {is_project: true} %>
          </ul>
          <div class="master-overlay-help" data-bind="if: project.collections().length == 0">
            <p>
              Use this space to collect collections of interest as you adjust your search parameters.
            </p>
            <p>
              To add a collection to your project, click the <i class="fa fa-plus"></i> icon on the desired collection.
              Once collected, you can use the tools available in this view to compare collections on the map or on a timeline
              and choose granules you want from each.
            </p>
            <p>
              When you are satisfied with your selections, click the <i class="fa fa-download"></i> button to
              access your data.
            </p>
          </div>
        </div>
      </section>
      <%= render partial: 'granule_list' %>
      <%= render partial: 'granule_details' %>
      <%= render partial: 'collection_details' %>
    </div>
  </div>
  <div class="master-overlay-secondary">
    <div class="master-overlay-secondary-content" data-level="0">
      <section id="granule-search" >
          <a data-bind="click: ui.projectList.hideFilters" class="master-overlay-close master-overlay-hide-secondary" href="#" title="close"><i class="fa fa-times-circle"></i></a>
        <nav class="master-overlay-nav">
          <i class="fa fa-edit"></i> Granule Filters
        </nav>
        <!-- ko if: project.searchGranulesCollection() -->
        <header>
          <h2 data-bind="text: project.searchGranulesCollection().dataset_id"></h2>
        </header>
        <%= render partial: 'granule_search' %>
        <!-- /ko -->
      </section>
    </div>
  </div>
  <div class="master-overlay-minimized">
    <a href="#collections-overlay" class="button text-button master-overlay-show">
      <i class="fa fa-th-list"></i> Results List
    </a>
  </div>
</div>
