<section id="master-overlay-parent" class="master-overlay-parent">
  <header>
    <h1>
      <a class="nasa-logo" href="<%= root_path %>" title="Earthdata Search Home"></a>
      <%= portal_logo %>
      <a class="site-logo" href="<%=edsc_path root_path %>">
        <span class="site-logo-org"><%= site_logo_org %></span>
        <%= site_logo_title %>
      </a>
      <% unless Rails.configuration.logo_name.blank? %>
        <span class="version-badge"><%= Rails.configuration.logo_name %></span>
      <% end %>
    </h1>
    <a class="master-overlay-close master-overlay-hide-parent" data-bind="click: hideParent" href="#" title="close"><i class="fa fa-times-circle"></i></a>
    <h2 class="facet-title">Browse Collections</h2>
  </header>
  <div class="master-overlay-content panel-group">
    <!-- ko if: collections.facets.isRelevant() -->
    <!-- ko foreach: collections.facets.results -->
    <!-- ko if: children().length > 0 -->
    <div data-bind="css: class_name" class="panel panel-default">
      <div class="panel-heading">
        <h3 data-bind="click: toggleList" class="panel-title facet-group-title">
          <i data-bind="css: {'fa-chevron-left': closed(), 'fa-chevron-down': opened()}" class="fa pull-right panel-header-toggle"></i>
          <a data-bind="text: title, attr: {'data-target': '#collapse'+$index()}" href="#" ></a>
        </h3>
      </div>
      <div data-bind="attr: {id: 'collapse'+$index()}, css: {'facets-list-show': opened(), 'facets-list-hide': closed(), 'features-facet': name == 'Features'}">
        <div class="panel-body facets">
          <!-- ko foreach: children() -->
          <label class="facets-item" data-bind="css: {selected: isSelected(), 'facets-term': isTerm(), 'facets-var1': isVar1(), 'facets-var2': isVar2(), 'facets-var3': isVar3()}, attr: {title: title}">
            <input type="checkbox" data-bind="checked: isChecked(), click: $root.collections.facets.toggleFacet">

            <span data-bind="text: title" class="facet-title"></span>
            <!-- ko ifnot: $parent.title == 'Features' || isAncestor() -->
            <span class="facet-item-collection-count" data-bind="text: count"></span>
            <!-- /ko -->
            <!-- ko if: title == 'Customizable' -->
            <span class="facet-circle-icon circle-badge-subsetting"></span>
            <!-- /ko -->
            <!-- ko if: title == 'Map Imagery' -->
            <span class="facet-circle-icon circle-badge-gibs"></span>
            <!-- /ko -->
            <!-- ko if: title == 'Near Real Time' -->
            <span class="facet-circle-icon circle-badge-nrt"></span>
            <!-- /ko -->
          </label>
          <!--/ko-->
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
  </div>
</section>
