<% content_for :toolbar do %>
  <!-- ko ifnot: user.isLoggedIn -->
  <a href="#" class="button user-info" data-toggle="modal" data-target="#login-modal"><i class="fa fa-lock"></i> Sign In</a>
  <!-- /ko -->
  <!-- ko if: user.isLoggedIn -->
  <div class="dropdown user-info">
    <a href="#" data-toggle="dropdown" class="button dropdown-button"><i class="fa fa-user"></i> <strong><!--ko text: user.username--><!--/ko--></strong> <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="#" class="dropdown-link" data-bind="click: user.logout">Logout</a>
      </li>
    </ul>
  </div>
  <!-- /ko -->
  <div class="landing-toolbar-container">
  <div class="landing-toolbar-content">
  <%= form_tag('/', method: 'get', class: 'auto-submit') do %>
    <p>
      <input id="keywords" name="keywords" class="autocomplete-placenames"
             data-bind="value: query.keywords, valueUpdate: 'keyup'"
             placeholder="Type any topic or dataset name"
             autofocus>
    </p>
  <% end %>
  <div class="dropdown dropdown-persistent" id="temporal-dropdown">
    <a href="#" class="button temporal-dropdown-button dropdown-button" data-toggle="dropdown">
      <i class="fa fa-clock-o"></i>
      <span class="dropdown-value">Temporal</span>
      <i class="fa fa-caret-down dropdown-icon"></i>
    </a>
    <ul class="dropdown-menu temporal-dropdown">
      <li>
        <ul class="nav nav-tabs">
          <li class="temporal-dropdown-link temporal-range active">
            <a href="#temporal-date-range" data-toggle="tab" data-bind="click: ui.temporal.pending.isRecurring.bind($data, false)">Date Range</a>
          </li>
          <li class="temporal-dropdown-link temporal-recurring">
            <a href="#temporal-recurring" data-toggle="tab" data-bind="click: ui.temporal.pending.isRecurring.bind($data, true)">Recurring</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="temporal-date-range" class="tab-pane active">
            <div class="datetime-field" id="temporal_start_button">
              <label for="temporal-range-start">Start</label>
              <input data-bind="value: ui.temporal.pending.start.humanDateString"
                     id="temporal-range-start"
                     class="temporal temporal-range-picker temporal-start temporal-range-start"
                     type="text" placeholder="YYYY-MM-DD HH:MM:SS"/>
              <button data-bind="click: ui.temporal.pending.start.clear"
                      id="clear_temporal_start"
                      class="button temporal-clear low-priority" type="button">Clear</button>
            </div>
            <div class="datetime-field" id="temporal_end_button">
              <label for="temporal-range-stop">End</label>
              <input data-bind="value: ui.temporal.pending.stop.humanDateString"
                     id="temporal-range-stop"
                     class="temporal temporal-range-picker temporal-stop temporal-range-stop"
                     type="text" placeholder="YYYY-MM-DD HH:MM:SS"/>
              <button data-bind="click: ui.temporal.pending.stop.clear"
                      id="clear_temporal_stop"
                      class="button temporal-clear low-priority" type="button">Clear</button>
            </div>
            <div class="temporal-error">Start must be no later than End</div>
            <div class="button-row">
              <button id="temporal-range-submit"
                      class="button submit"
                      title="Apply your selections" type="button">Apply</button>
              <button id="temporal-range-clear" data-bind="click: ui.temporal.pending.clear"
                      class="button temporal-clear temporal-range low-priority"
                      title="Clear your selections" type="button">Clear</button>
            </div>
          </div>
          <div id="temporal-recurring" class="tab-pane">
            <div class="datetime-field" id="temporal_start_button">
              <label for="temporal-recurring-start">Start</label>
              <input data-bind="value: ui.temporal.pending.start.humanDateString"
                     id="temporal-recurring-start"
                     class="temporal temporal-recurring-picker temporal-start temporal-recurring-start"
                     type="text" placeholder="MM-DD HH:MM:SS"/>
              <button data-bind="click: ui.temporal.pending.start.clear"
                      id="clear_temporal_start"
                      class="button temporal-clear low-priority"
                      type="button">Clear</button>
            </div>
            <div class="datetime-field" id="temporal_end_button">
              <label for="temporal-recurring-stop">End</label>
              <input data-bind="value: ui.temporal.pending.stop.humanDateString"
                     id="temporal-recurring-stop"
                     class="temporal temporal-recurring-picker temporal-stop temporal-recurring-stop"
                     type="text" placeholder="MM-DD HH:MM:SS"/>
              <button data-bind="click: ui.temporal.pending.stop.clear"
                      id="clear_temporal_stop"
                      class="button temporal-clear low-priority"
                      type="button">Clear</button>
            </div>
            <div class="range-slider">
                <label for="temporal-slider">Range</label>
              <input id="temporal-slider" class="temporal-recurring-year-range" type="text">
              <p><span data-bind="text: ui.temporal.pending.yearsString" class="temporal-recurring-year-range-value"></span></p>

            </div>
            <div class="temporal-error">Start must be no later than End</div>
            <div class="button-row">
              <button id="temporal-recurring-submit"
                      class="button submit"
                      title="Apply your selections" type="button">Apply</button>
              <button id="temporal-recurring-clear" data-bind="click: ui.temporal.pending.clear"
                      class="button temporal-clear temporal-recurring low-priority"
                      title="Clear your selections" type="button">Clear</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="dropdown" data-bind="with: ui.spatialType">
    <a href="#" data-toggle="dropdown" class="button dropdown-button spatial-dropdown-button"><i class="fa fa-fw" data-bind="css: icon"></i> <span class="dropdown-value" data-bind="text: name">Spatial</span> <span class="caret"></span></a>
    <ul class="dropdown-menu spatial-selection">
      <li><a href="#" class="dropdown-link select-polygon" data-bind="click: selectPolygon"><i class="edsc-icon-poly-open edsc-icon-fw"></i> Polygon</a></li>
      <li><a href="#" class="dropdown-link select-rectangle" data-bind="click: selectRectangle"><i class="edsc-icon-rect-open edsc-icon-fw"></i> Rectangle</a></li>
      <li><a href="#" class="dropdown-link select-point" data-bind="click: selectPoint"><i class="edsc-icon-fw edsc-icon-location"></i> Point</a></li>
      <li><a href="#" class="dropdown-link select-shapefile" data-bind="click: selectShapefile"><i class="edsc-icon-fw edsc-icon-shapefile"></i> Shape File</a></li>
    </ul>
  </div>
  <a href="#" class="button clear-filters landing-hidden" data-bind="event: {click: query.clearFilters}"><i class="fa fa-eraser"></i> Clear Filters</a>
</div>
</div>
<% end %>

<div class="master-overlay homepage-search is-master-overlay-secondary-hidden" id="datasets-overlay">
  <section id="master-overlay-parent" class="master-overlay-parent">
    <header>
      <a class="master-overlay-close master-overlay-hide-parent" href="#" title="close"><i class="fa fa-times-circle"></i></a>
      <h2>Browse Datasets</h2>
    </header>
    <div class="master-overlay-content panel-group">
      <div data-bind="if: query.facets().length > 0" class="panel panel-default selected-facets-panel">
        <div class="panel-heading">
          <h3 class="panel-title facet-title">
            Values Selected
          </h3>
        </div>
        <div class="panel-body facets">
          <dl>
            <!-- ko foreach: datasetFacets.appliedFacets -->
                <dt data-bind="text: name" class="facet-title"></dt>
                  <dd class="facets">
                    <!-- ko foreach: selectedValues -->
                    <span data-bind="click: $root.datasetFacets.removeFacet" class="facets-item selected">
                        <span data-bind="text: term" ></span>
                        <i class="fa fa-times"></i>
                      </span>
                      <span data-bind="if: $parent.selectedValues().indexOf($data) < $parent.selectedValues().length - 1"> or </span>
                    <!-- /ko -->
                  </dd>
            <!-- /ko -->
          </dl>
        </div>
      </div>
      <!-- ko foreach: datasetFacets.results -->
      <div data-bind="if: values().length > 0, css: class_name" class="panel panel-default">
        <div class="panel-heading">
          <h3 data-bind="click: toggleList" class="panel-title facet-title">
            <i data-bind="css: {'fa-caret-down': closed(), 'fa-caret-up': opened()}" class="fa pull-right"></i>
            <a data-bind="text: name, attr: {'data-target': '#collapse'+$index()}" href="#" ></a>
          </h3>
        </div>
        <div data-bind="attr: {id: 'collapse'+$index()}, css: {'facets-list-show': opened(), 'facets-list-hide': closed()}">
          <div class="panel-body facets">
            <!-- ko foreach: values() -->
            <p class="facets-item" data-bind="click: $root.datasetFacets.toggleFacet, css: {selected: isSelected}">
              <span data-bind="text: term"></span>
              (<span data-bind="text: count"></span>)
              <i class="fa fa-times"></i>
            </p>
            <!-- /ko -->
          </div>
        </div>
      </div>
      <!-- /ko -->
    </div>
  </section>
  <div class="master-overlay-main">
    <div class="master-overlay-main-content" data-level="0">
      <section id="dataset-results">
        <a class="master-overlay-close master-overlay-hide" href="#" title="close"><i class="fa fa-times-circle"></i></a>
        <nav class="master-overlay-nav master-overlay-when-parent-hidden">
          <a href="#" class="master-overlay-show-parent">
            <i class="fa fa-search"></i> Browse Datasets
            <span data-bind="if: query.facets().length > 0">
               (<span data-bind="text: pluralize(query.facets().length, 'facet', 'facets')"></span> applied)
            </span>
          </a>
        </nav>
        <header>
          <h2><strong data-bind="text: datasets.hits"></strong> Matching Datasets</h2>
        </header>
        <div class="master-overlay-info">
          <p data-bind="visible: project.isEmpty()">
            Add datasets to your project to compare and retrieve their data.
          </p>
          <p data-bind="visible: !project.isEmpty()">
            <a class="button master-overlay-forward master-overlay-hide-parent" data-bind="click: ui.projectList.showProject" href="#">
              <i class="fa fa-folder-o"></i> View Project
            </a>
            You have <em id="project-count" data-bind="text: pluralize(project.datasets().length, 'dataset', 'datasets')"></em> in your project.
          </p>
        </div>
        <div class="master-overlay-content panel-list" data-bind="event: {scroll: ui.datasetsList.scrolled}">
          <ul id="dataset-results-list"
              class="panel-list-list knockout-template"
              data-bind="foreach: datasets.results, css: { 'knockout-template': !bindingsLoaded }">
            <%= render partial: 'dataset_list_item' %>
          </ul>
          <p class="panel-list-load-more" data-bind="visible: datasets.isLoading">
            Loading datasets...
          </p>
        </div>
      </section>
      <section id="project-overview" data-bind="visible: ui.projectList.visible">
        <a class="master-overlay-close master-overlay-hide" href="#" title="close"><i class="fa fa-times-circle"></i></a>
        <nav class="master-overlay-nav">
          <a class="master-overlay-back master-overlay-hide-secondary" href="#" data-bind="click: project.clearSearchGranules">
            <i class="edsc-icon-arrow-left"></i> Back to Dataset Search
          </a>
        </nav>
        <header>
          <h2>Project Datasets</h2>
        </header>
        <div class="master-overlay-info">
          <p>
            Batch compare, preview, refine, and download datasets you've added to your project.
          </p>
        </div>
        <div class="master-overlay-content panel-list">
        <div class="master-overlay-project-actions">
          <a href="#" title="View all datasets" data-bind="visible: !datasets.allDatasetsVisible(), click: datasets.toggleViewAllDatasets.bind($data, project.datasets)" class="button icon-button" >
            <i class="edsc-icon-eye"></i>
          </a>
          <a href="#" title="Hide all datasets" data-bind="visible: datasets.allDatasetsVisible(), click: datasets.toggleViewAllDatasets.bind($data, project.datasets)" class="button icon-button button-active" >
            <i class="edsc-icon-eye"></i>
          </a>
          <div class="button icon-button empty-button"></div>
          <div class="button icon-button empty-button"></div>
        </div>
          <ul id="project-datasets-list"
              class="panel-list-list knockout-template"
              data-bind="foreach: project.datasets, css: { 'knockout-template': !bindingsLoaded }">
            <%= render partial: 'dataset_list_item' %>
          </ul>
        </div>
      </section>
      <%= render partial: 'dataset_details' %>
    </div>
  </div>
  <div class="master-overlay-secondary">
    <div class="master-overlay-secondary-content" data-level="0">
      <section id="granule-search" >
          <a class="master-overlay-close master-overlay-hide-secondary" href="#" title="close"><i class="fa fa-times-circle"></i></a>
        <nav class="master-overlay-nav">
          Granule Filters
        </nav>
        <header>
          <!-- ko if: project.searchGranulesDataset() -->
          <h2 data-bind="text: project.searchGranulesDataset().dataset_id"></h2>
          <!-- /ko -->
        </header>
        <%= render partial: 'granule_search' %>
      </section>
    </div>
  </div>
  <div class="master-overlay-minimized">
    <a href="#datasets-overlay" class="button text-button master-overlay-show master-overlay-level" data-master-overlay-level="0">
      <i class="fa fa-search"></i> Search Datasets
    </a>
    <a href="#datasets-overlay" class="button text-button master-overlay-show master-overlay-level master-overlay-hide-parent"
       data-master-overlay-level="1"
       data-bind="click: ui.projectList.showProject, visible: !project.isEmpty()">
      <i class="fa fa-folder-o"></i> View Project
    </a>
  </div>
</div>

<div id="map" class="map" style="height:100%">
  <div class="geojson-help">
    <div class="geojson-help-dropzone">
      <h1>Search by Shape File</h1>
      <p>
        <a class="geojson-dropzone-link" href="#">Click here</a> to select a shape file.  You may also
        simply drag and drop shape files onto the map at any time.
      </p>
      <p>
        Valid formats include:
      </p>
      <ul>
        <li>ESRI Shapefile (.zip including .shp, .dbf, and .shx file)</li>
        <li>Keyhole Markup Language (.kml or .kmz)</li>
        <li>GeoJSON (.json or .geojson)</li>
        <li>GeoRSS (.rss, .georss, or .xml)</li>
      </ul>
      <button data-bind="click: ui.spatialType.selectNone"
              class="button low-priority" type="button">Cancel</button>
    </div>
  </div>
</div>

<div id="temporal-query" data-bind="with: ui.temporal.applied">
  <p>
    <i class="fa fa-clock-o"></i>
    <span data-bind="visible: start.date">
      <strong>Start</strong>
      <span data-bind="text: start.humanDateString"></span>
    </span>
    <span data-bind="visible: stop.date">
      <strong>Stop</strong>
      <span data-bind="text: stop.humanDateString"></span>
    </span>
    <span data-bind="visible: (start.date() || stop.date()) && isRecurring()">
      <strong>Range</strong> <span data-bind="text: yearsString"></span>
    </span>
  </p>
</div>

<div class="landing-area landing-visible">

  <div class="landing-dialog">
    <div class="noscript no-js">
      <h3>Earthdata Search Client uses JavaScript</h3>
      <ul>
        <li>Please use a JavaScript-aware browser.
        <li>Make sure that JavaScript is enabled.
      </ul>
    </div>

    <div class="old-ie">
      <h1>Your browser is out of date</h1>
      <p>In order to use Earthdata Search Client, you must upgrade your web browser. Alternatively, you can use <a href="http://reverb.echo.nasa.gov/">Reverb</a></p>
      <p>To upgrade your browser, click on the icons below to go to the download page</p>
      <ul>
        <li>
          <a href="https://www.google.com/chrome/" target="_blank">
            <div class="icon chrome"></div>
            <div class="name">Chrome</div>
          </a>
        </li>
        <li>
          <a href="http://www.mozilla.org/firefox/" target="_blank">
            <div class="icon firefox"></div>
            <div class="name">Firefox</div>
          </a>
        </li>
        <li>
          <a href="http://www.apple.com/safari/" target="_blank">
            <div class="icon safari"></div>
            <div class="name">Safari</div>
          </a>
        </li>
        <li>
          <a href="http://www.opera.com/" target="_blank">
            <div class="icon opera"></div>
            <div class="name">Opera</div>
          </a>
        </li>
        <li>
          <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">
            <div class="icon ie"></div>
            <div class="name">Internet Explorer</div>
          </a>
        </li>
      </ul>
    </div>

    <div class="landing-dialog-header">
      <h2>Discover Earth Science Data</h2>
      <p>Search NASA Earth Science data by keyword and filter by <i class="fa fa-clock-o"></i> <strong>time</strong> or <i class="fa fa-crop"></i> <strong>space</strong>.</p>
    </div>
    <div class="landing-dialog-toolbar toolbar">
    </div>
    <div class="landing-dialog-actions">
      <a href="#datasets-overlay" class="master-overlay-show button text-button"><i class="fa fa-search"></i> Browse All Data</a>
      <p><i class="fa fa-arrow-circle-left"></i> See new and featured datasets or use categories to narrow your results.</p>
    </div>
  </div>

</div>

<div id="login-modal" class="modal" role="dialog" aria-labelledby="EDSC Login" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" title="close" data-dismiss="modal" aria-hidden="true" class="pull-right close"><i class="fa fa-times-circle"></i></a>
        <h3 class="modal-title" id="myModalLabel">Sign In to Earthdata Search Client</h3>
      </div>
      <form data-bind="submit: user.login">
        <div class="modal-body">
          <!-- ko if: user.errors() -->
          <span class="error" data-bind="text: user.errors()"></span>
          <!-- /ko -->
          <p>
            <label for="username">Username</label>
            <input type="text" id="username" />
          </p>
          <p>
            <label for="password">Password</label>
            <input type="password" id="password" />
          </p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="button-light"><i class="fa fa-lock"></i> Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
