<% content_for :javascript do %>
  <script>
    window.edscprefs = <%= raw @preferences.to_json %>;
  </script>

  <%= javascript_include_tag "search" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <div class="landing-secondary-toolbar-container" style="display: none;">
    <span><a data-bind="visible: !$root.ui.projectList.visible() && !project.isEmpty(), click: $root.ui.projectList.showProjectPage" href="#" class="toolbar-button">My Project</a></span>
    <%= render partial: 'shared/feedback' %>
    <%= render partial: 'shared/workspace_name' %>
    <%= render partial: 'shared/login' %>
  </div>
<% end %>

<% content_for :toolbar do %>
  <div class="landing-toolbar-container" style="display: none">
    <div class="landing-toolbar-content">
      <%= form_tag('/', method: 'get', class: 'auto-submit') do %>
        <p>
          <input id="keywords" type="text" name="keywords" class="nlp-parsing keyword-input"
                 data-bind="valueUpdate: 'keyup'"
                 placeholder="Type any topic, collection, or place name"
                 autofocus>
        </p>
      <% end %>
      <div class="dropdown keep-open" id="temporal-dropdown">
        <a href="#" class="button temporal-dropdown-button dropdown-button" data-toggle="dropdown" title="Temporal">
          <i class="fa fa-clock-o"></i>
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu temporal-dropdown">
          <li>
            <!-- ko with: query.temporal.pending -->
            <%= render partial: 'temporal_template', locals: {prefix: 'collection', show_actions: true} %>
            <!-- /ko -->
          </li>
        </ul>
      </div>

      <div class="dropdown" data-bind="with: ui.spatialType" id="spatial-dropdown">
        <a href="#" data-toggle="dropdown" class="button dropdown-button spatial-dropdown-button" title="Spatial"><i class="fa fa-fw" data-bind="css: icon"></i><i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu spatial-selection">
          <li><a href="#" class="dropdown-link select-polygon" data-bind="click: selectPolygon" title="Select Polygon"><i class="edsc-icon-poly-open edsc-icon-fw"></i> Polygon</a></li>
          <li><a href="#" class="dropdown-link select-rectangle" data-bind="click: selectRectangle" title="Select Rectangle"><i class="edsc-icon-rect-open edsc-icon-fw"></i> Rectangle</a></li>
          <li><a href="#" class="dropdown-link select-point" data-bind="click: selectPoint" title="Select Point"><i class="fa fa-map-marker"></i> Point</a></li>
          <li><a href="#" class="dropdown-link select-shapefile" data-bind="click: selectShapefile" title="Select Shapefile"><i class="fa fa-file-o"></i> File <span class="geojson-formats">(KML, KMZ, ESRI, &hellip;)</span></a></li>
          <li><a href="#" class="dropdown-link select-grid" data-bind="click: selectGrid" title="Select Grid Coordinates"><i class="edsc-icon-globe-grid"></i> Grid Coordinates</a></li>
        </ul>
      </div>
      <a href="#" class="button toolbar-button clear-filters landing-hidden" data-bind="event: {click: clearFilters}" title="Clear Filters"><i class="fa fa-eraser"></i></a>
      <a href="#" class="button toolbar-button toggle-filter-stack" data-bind="event: {click: toggleFilterStack}" title="Toggle Filter Stack"><i class="fa fa-bars"></i></a>
      <div class="filter-stack" data-bind="visible: totalFilters() > 0">
        <div class="map-grid-search" data-bind="with: query.grid, visible: ui.spatialType.isGrid() || query.grid.selected(), css: { 'knockout-template': !bindingsLoaded }">
          <p>
            <label for="map-grid-system">
              <i class="edsc-icon-globe-grid"></i> <span><strong>Grid: </strong></span>
            </label>
            <select id="map-grid-system" name="map-grid-system" data-bind="value: selected, options: available, optionsText: 'label', optionsCaption: 'Coordinate System...'">
            </select>
            <input type="text" id="map-grid-coordinates" name="map-grid-coordinates" data-bind="value: coordinates" placeholder="Coordinates...">
            <a href="#" data-bind="click: clear" title="Remove grid coordinates constraint"><i class="fa fa-times-circle"></i></a>
            <label for="map-grid-coordinates" class="map-grid-hint" data-bind="text: hint"></label>
            <!-- ko if: error --><span class="error" data-bind="text: error()"></span><!-- /ko -->
          </p>
        </div>
        <div id="temporal-query" data-bind="with: query.temporal.applied, visible: query.temporal.applied.start.date() || query.temporal.applied.stop.date()">
          <p>
            <i class="fa fa-clock-o"></i>
            <span data-bind="visible: start.date">
              <strong>Start: </strong>
              <span data-bind="text: start.humanDateString"></span>
            </span>
            <span data-bind="visible: stop.date">
              <strong>Stop: </strong>
              <span data-bind="text: stop.humanDateString"></span>
            </span>
            <span data-bind="visible: (start.date() || stop.date()) && isRecurring()">
              <strong>Range: </strong> <span data-bind="text: yearsString"></span>
            </span>
            <a href="#" data-bind="click: clear, visible: start.date() || stop.date()" title="Remove temporal constraint"><i class="fa fa-times-circle"></i></a>
          </p>
        </div>

        <%= render partial: 'spatial_manual_entry'%>
      </div>
    </div>
  </div>
<% end %>

<div class="master-overlay homepage-search is-master-overlay-secondary-hidden is-master-overlay-maximized" id="collections-overlay">
  <%= render partial: 'shared/overlay_parent' %>
  <div class="master-overlay-main">
    <div class="master-overlay-main-content" data-level="0">
      <section id="collection-results" class="master-overlay-content-wrapper master-overlay-has-min" data-master-overlay-title="Collections">
        <header class="master-overlay-header">
          <nav class="master-overlay-nav">
            <div class="master-overlay-tab master-overlay-when-parent-hidden">
              <span class="master-overlay-tab-handle"></span>
              <a href="#" class="master-overlay-tab-title master-overlay-show-parent" data-bind="click: showParent" title="Browse Collections">
                <i class="fa fa-columns"></i>
                <span class="master-overlay-when-max" data-bind="if: query.facets() && query.facets().length > 0">
                   (<span data-bind="text: pluralize(query.facets().length, 'facet', 'facets')"></span> applied)
                </span>
              </a>
            </div>
            <div class="master-overlay-tab">
              <span class="master-overlay-tab-handle"></span>
              <h2 class="master-overlay-tab-title"><strong data-bind="text: collections.hits"></strong> Matching Collections</h2>
              <a class="master-overlay-minimize master-overlay-when-max" href="#" title="Minimize"><i class="fa fa-chevron-circle-down"></i></a>
              <a class="master-overlay-maximize master-overlay-when-min" href="#" title="Maximize"><i class="fa fa-chevron-circle-up"></i></a>
            </div>
          </nav>
          <div class="master-overlay-info">
            <div class="master-overlay-info-panel">
              <div class="">
                <p class="collection-filters">
                  <label class="collection-filter-item collection-sort">Sort by:
                    <select id="collection-sort" data-bind="options: query.sortOptions, optionsText: 'name', optionsValue: 'value', value: query.sortKey, optionsCaption: 'Relevance'"></select>
                  </label>
                  <label class="collection-filter-item" for="has-granules">
                      <input type="checkbox" id='has-granules' data-bind="checked: query.hasGranules"/>
                      Only include collections with granules
                  </label>
                  <label class="collection-filter-item" for="hasNonEOSDIS">
                    <input type="checkbox" id='hasNonEOSDIS' data-bind="checked: query.hasNonEOSDIS"/>
                    Include non-EOSDIS collections
                  </label>
                </p>
                <p data-bind="visible: project.isEmpty()" class="button-details"><strong>Tip:</strong> Add <i class="fa fa-plus add-project-example"></i> collections to your project to compare and download their data. <a class=" master-overlay-hide-parent master-overlay-show-next master-overlay-forward low-priority" href="#"><i class="fa fa-question-circle"></i> Learn More</a></p>
                <p data-bind="visible: !project.isEmpty()" class="button-details">
                  You have <strong data-bind="text: pluralize(project.collections().length, 'collection', 'collections')"></strong> in your current <a id="view-project" data-bind="click: $root.ui.projectList.showProjectPage" href="#">Project</a>
                </p>
              </div>
            </div>
          </div>
        </header>
        <div id="collection-scroll-pane" class="master-overlay-content" data-bind="event: {scroll: ui.collectionsList.scrolled}">
          <div class="panel-list">
            <ul id="collection-results-list"
                class="panel-list-list knockout-template master-overlay-when-max"
                data-bind="foreach: collections.results, css: { 'knockout-template': !bindingsLoaded }">
              <li class="panel-list-item" data-bind="component: {name: 'collection-list-item', params: {model: $data}}, click: $root.ui.collectionsList.focusCollection, css: {'master-overlay-forward': canFocus(), 'master-overlay-hide-parent': canFocus()}" title="View granules"></li>
            </ul>
            <p class="panel-list-load-more" data-bind="visible: collections.isLoading">
              Loading collections...
            </p>
            <% if portal? %>
            <p class="portal-escape" data-bind="visible: !collections.isLoading()">
              Looking for more collections?
              <a href="#" data-bind="click: ui.collectionsList.escapePortal" class="portal-escape-link">Leave <%= site_org %>'s <%= site_name %></a>
            </p>
            <% end %>
          </div>
        </div>
      </section>
      <%= render partial: 'granule_list' %>
      <%= render partial: 'granule_details' %>
      <%= render partial: 'collection_details' %>
    </div>
  </div>
  <div class="master-overlay-secondary">
    <div class="master-overlay-secondary-content" data-level="0">
      <section id="granule-search" class="master-overlay-secondary-granule-search">
        <!-- ko if: project.searchGranulesCollection() -->
        <header class="master-overlay-secondary-header">
          <div class="master-overlay-secondary-heading">
            <i class="fa fa-filter"></i> Granule Filters
          </div>
          <h2 class="master-overlay-secondary-title" data-bind="text: project.searchGranulesCollection().dataset_id"></h2>
          <a data-bind="click: ui.projectList.hideFilters" class="master-overlay-close master-overlay-hide-secondary" href="#" title="close"><i class="fa fa-times-circle"></i></a>
        </header>
        <%= render partial: 'granule_search' %>
        <!-- /ko -->
      </section>
    </div>
  </div>
  <div class="master-overlay-minimized">
    <a href="#collections-overlay" class="button text-button master-overlay-show">
      <i class="fa fa-th-list"></i> Results List
    </a>
  </div>
  <div id="map" class="map">
    <div id="map-center"></div>
    <!-- ko if: ui.collectionsList.focused() -->
    <!-- ko with: ui.collectionsList.focused() -->
    <!-- ko if: stickied() && (stickied().browse_flag === 'true' || stickied().browse_flag === true) && !stickied().browseError() -->
    <div class="toggle-image-browse">
      <a href="#" class="pull-right" id="toggleBrowseImageButton" data-bind="click: function() { $root.ui.collectionsList.toggleBrowseImage()};" data-toggle="collapse" data-target="#browseImageDiv" title="Toggle browse image display">
        <span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-close fa-stack-1x fa-inverse"></i></span>
      </a>
    </div>
    <div class="granule-browse collapse" data-bind="css: {busy: loadingBrowse()}" id="browseImageDiv">
      <a data-bind="attr: {href: stickied().edsc_full_browse_url()}" target="_blank" title="View full image">
        <img data-bind="attr: {src: stickied().edsc_browse_url(256)}, event: {load: finishLoad}" alt="Browse preview" title="View full image">
      </a>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="geojson-help">
      <div class="geojson-help-dropzone">
        <h2>Search by Shape File</h2>
        <p>
          <strong><a class="geojson-dropzone-link" href="#">Click here</a></strong> to select a shape file. You may also
          simply drag and drop shape files onto the map at any time.
        </p>
        <p>
          Valid formats include:
        </p>
        <ul>
          <li>ESRI Shapefile (.zip including .shp, .dbf, and .shx file)</li>
          <li>Keyhole Markup Language (.kml or .kmz)</li>
          <li>GeoJSON (.json or .geojson)</li>
          <li>GeoRSS (.rss, .georss, or .xml)</li>
        </ul>
        <button data-bind="click: ui.spatialType.selectNone" class="button text-button" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="landing-area landing-visible">
  <div class="landing-dialog">
    <div class="noscript no-js">
      <h3><%= site_name %> uses JavaScript</h3>
      <ul>
        <li>Please use a JavaScript-aware browser.
        <li>Make sure that JavaScript is enabled.
      </ul>
    </div>

    <div class="old-ie">
      <h1>Your browser is out of date</h1>
      <p>In order to use <%= site_name %>, you must upgrade your web browser. Alternatively, you can use <a href="https://access.earthdata.nasa.gov">Earthdata Access</a></p>
      <p>To upgrade your browser, click on the icons below to go to the download page</p>
      <ul>
        <li>
          <a href="https://www.google.com/chrome/" target="_blank">
            <div class="icon chrome"></div>
            <div class="name">Chrome</div>
          </a>
        </li>
        <li>
          <a href="http://www.mozilla.org/firefox/" target="_blank">
            <div class="icon firefox"></div>
            <div class="name">Firefox</div>
          </a>
        </li>
        <li>
          <a href="http://www.apple.com/safari/" target="_blank">
            <div class="icon safari"></div>
            <div class="name">Safari</div>
          </a>
        </li>
        <li>
          <a href="http://www.opera.com/" target="_blank">
            <div class="icon opera"></div>
            <div class="name">Opera</div>
          </a>
        </li>
        <li>
          <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">
            <div class="icon ie"></div>
            <div class="name">Internet Explorer</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<% content_for :header do %>
<div id="choose-temporal-modal" data-bind="showModal: ui.projectList.needsTemporalChoice" class="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </a>
        <h3 class="modal-title" id="myModalLabel">What temporal selection would you like to use?</h3>
      </div>
      <div class="modal-body">
        Would you like to filter your download by the focused time span (blue lines)
        or your selected temporal constraint (orange lines)?
        <div class="choice choice-1"><%= image_tag "blue-bars-circle.png" %></div>
        <div class="choice choice-2"><%= image_tag "orange-bars-circle.png" %></div>
      </div>
      <div class="modal-footer">
        <div class="choice choice-1"><button data-bind="click: ui.projectList.chooseOverride">Use Focused Time Span</button></div>
        <div class="choice choice-2"><button data-bind="click: ui.projectList.chooseTemporal">Use Temporal Constraint</button></div>
      </div>
    </div>
  </div>
</div>

<form id="data-access" method="POST" action="/data/configure" style="display:none;">
  <div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
   <input id="data-access-project" name="project" type="hidden">
  </div>
</form>
<% end %>

<% content_for :footer do %>
  <%= render partial: 'timeline' %>
<% end %>

<% content_for :global do %>
  <%= render partial: 'variables_modal' %>
  <%= render partial: 'sitetour_modal' %>
  <%= render partial: 'delay_modal' %>
  <%= render partial: 'customize_data_modal' %>
  <%= render partial: 'related_urls_modal' %>
  <%= render partial: 'full_facets_modal' %>
<% end %>
