<% content_for :javascript do %>
  <script>
    window.edscprefs = <%=raw @preferences.to_json %>;
  </script>

  <%= javascript_include_tag "search" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <a data-bind="visible: !project.isEmpty(), click: $root.ui.projectList.viewProject" id="view-project" class="button master-overlay-hide-parent master-overlay-show-next master-overlay-forward" href="#">
    <i class="fa fa-folder-o"></i> View Project <span id="project-count" data-bind="text: project.collections().length"></span>
  </a>
  <%= render partial: 'workspace_name' %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<% content_for :toolbar do %>
  <div class="landing-toolbar-container">
    <div class="landing-toolbar-content">
      <div class="primary-search">
        <%= form_tag('/', method: 'get', class: 'auto-submit') do %>
          <p>
            <input id="keywords" type="text" name="keywords" class="nlp-parsing keyword-input"
              data-bind="valueUpdate: 'keyup'"
              placeholder="Type any topic or collection name"
              autofocus>
          </p>
        <% end %>
        <div class="dropdown" id="temporal-dropdown">
          <a href="#" class="button temporal-dropdown-button dropdown-button" title="Temporal filter">
            <i class="fa fa-calendar-plus-o"></i>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu temporal-dropdown">
            <li>
              <!-- ko with: query.temporal.pending -->
              <%= render partial: 'temporal_template', locals: {prefix: 'collection', show_actions: true} %>
              <!-- /ko -->
            </li>
          </ul>
        </div>
        <div class="dropdown" data-bind="with: ui.spatialType">
          <a href="#" data-toggle="dropdown" class="button dropdown-button spatial-dropdown-button" title="Spatial filter">
            <i class="fa fa-fw" data-bind="css: icon"></i>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu spatial-selection">
            <li><a href="#" class="dropdown-link select-polygon" data-bind="click: selectPolygon" title="Select Polygon"><i class="edsc-icon-poly-open edsc-icon-fw"></i> Polygon</a></li>
            <li><a href="#" class="dropdown-link select-rectangle" data-bind="click: selectRectangle" title="Select Rectangle"><i class="edsc-icon-rect-open edsc-icon-fw"></i> Rectangle</a></li>
            <li><a href="#" class="dropdown-link select-point" data-bind="click: selectPoint" title="Select Point"><i class="fa fa-map-marker"></i> Point</a></li>
            <li><a href="#" class="dropdown-link select-shapefile" data-bind="click: selectShapefile" title="Select Shapefile"><i class="fa fa-file-o"></i> File <span class="geojson-formats">(KML, KMZ, ESRI, &hellip;)</span></a></li>
          </ul>
        </div>
        <a href="#" class="button clear-filters landing-hidden" data-bind="event: {click: clearFilters}" title="Clear filters"><i class="fa fa-eraser"></i></a>
      </div>
      <div id="temporal-query" data-bind="with: query.temporal.applied, visible: query.temporal.applied.isSet()">
        <p>
          <i class="fa fa-calendar-o"></i>
          <span data-bind="visible: start.date" class="temporal-query_start-date">
            <strong>Start:</strong>
            <span data-bind="text: start.humanDateString"></span>
          </span>
          <span data-bind="visible: stop.date" class="temporal-query_stop-date">
            <strong>Stop:</strong>
            <span data-bind="text: stop.humanDateString"></span>
          </span>
          <span data-bind="visible: (start.date() || stop.date()) && isRecurring()" class="temporal-query_range">
            <strong>Range:</strong> <span data-bind="text: yearsString"></span>
          </span>
          <a href="#" class="remove-filter" data-bind="click: clear, visible: start.date() || stop.date()" title="Remove temporal constraint"><i class="fa fa-times-circle"></i></a>
        </p>
      </div>
      <%= render partial: 'spatial_manual_entry'%>
    </div>
  </div>
<% end %>

<div id="map" class="map" style="height:100%">
  <div id="map-center"></div>
  <!-- ko if: ui.collectionsList.focused() -->
  <!-- ko with: ui.collectionsList.focused() -->
  <!-- ko if: stickied() && (stickied().browse_flag === 'true' || stickied().browse_flag === true) && !stickied().browseError() -->
  <div class="granule-browse" data-bind="css: {busy: loadingBrowse()}">
    <a data-bind="attr: {href: stickied().edsc_full_browse_url()}" target="_blank" title="View full image">
      <img data-bind="attr: {src: stickied().edsc_browse_url(256)}, event: {load: finishLoad}" alt="Browse preview" title="View full image">
    </a>
  </div>
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->
  <div class="geojson-help">
    <div class="geojson-help-dropzone">
      <h1>Search by Shape File</h1>
      <p>
        <a class="geojson-dropzone-link" href="#">Click here</a> to select a shape file.  You may also
        simply drag and drop shape files onto the map at any time.
      </p>
      <p>
        Valid formats include:
      </p>
      <ul>
        <li>ESRI Shapefile (.zip including .shp, .dbf, and .shx file)</li>
        <li>Keyhole Markup Language (.kml or .kmz)</li>
        <li>GeoJSON (.json or .geojson)</li>
        <li>GeoRSS (.rss, .georss, or .xml)</li>
      </ul>
      <button data-bind="click: ui.spatialType.selectNone"
              class="button text-button" type="button">Cancel</button>
    </div>
  </div>
</div>



<% content_for :header do %>
<div id="choose-temporal-modal" data-bind="showModal: ui.projectList.needsTemporalChoice" class="modal" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">What temporal selection would you like to use?</h3>
      </div>
      <div class="modal-body">
        Would you like to filter your download by the focused time span (blue lines)
        or your selected temporal constraint (orange lines)?
        <div class="choice choice-1"><%= image_tag "blue-bars-circle.png" %></div>
        <div class="choice choice-2"><%= image_tag "orange-bars-circle.png" %></div>
      </div>
      <div class="modal-footer">
        <div class="choice choice-1"><button data-bind="click: ui.projectList.chooseOverride">Use Focused Time Span</button></div>
        <div class="choice choice-2"><button data-bind="click: ui.projectList.chooseTemporal">Use Temporal Constraint</button></div>
      </div>
    </div>
  </div>
</div>

<form id="data-access" method="POST" action="/data/configure" style="display:none;">
  <div>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
   <input id="data-access-project" name="project" type="hidden">
  </div>
</form>
<% end %>


<% content_for :footer do %>
  <%= render partial: 'timeline' %>
<% end %>
