<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= site_page_title('Downloads') %></title>
  <link rel="shortcut icon" href="/favicon.ico?v=1.1">
</head>
<body>
<div id="errors"></div>
<div id="loading">Loading more...</div>
<ul id="links">
</ul>

<script>
  (function () {

    var browseOnly = <%= @query.delete('browse') %>;
    var currentPage = <%= @query['page_num'] %>;
    var project = <%= @query['project'] %>;
    var collection = '<%= @query['collection'] %>';
    var cmrHits = -1;

    function getNextPageUrl() {
      queryPageNum = parseInt(url.match(/page_num=(\d+)/)[1]);
      if (queryPageNum * 2000 > cmrHits) {
        return null;
      }
      currentPage++;
      url = url.replace(/page_num=\d+/, 'page_num=' + currentPage);
      return url;
    }

    function finish() {
      document.getElementById('loading').style.display = 'none';
    }

    function renderEntry(link) {
      var ul = document.getElementById('links');
      var li = document.createElement('LI');
      var a = document.createElement('A');
      a.setAttribute('href', link);
      a.textContent = link;
      li.appendChild(a);
      ul.appendChild(li);
    }

    function onLoad() {
      var doc = JSON.parse(this.response);
      cmrHits = doc['CMR-Hits'];
      document.getElementById('loading').innerHTML = 'Loading more... (parsed ' + (currentPage * 2000 > cmrHits ? cmrHits : (currentPage * 2000))+ ' of ' + cmrHits + ')';
      var links = doc.links;
      for (var i = 0; i < links.length; i++) {
        renderEntry(links[i]);
      }
      var next = getNextPageUrl();
      if (next) {
        fetchLinks(next);
      }
      else {
        finish();
      }
    }

    function onError() {
      document.getElementById('loading').textContent = "There was an error loading granules. Refresh this page to try again."
      finish();
    }

    function onAbort() {
      finish();
    }

    function fetchLinks(url) {
      var request = new XMLHttpRequest();
      request.open('GET', url, true);
      request.send(null);

      request.addEventListener("load", onLoad, false);
      request.addEventListener("error", onError, false);
      request.addEventListener("abort", onAbort, false);
    }

    var url = "/granules/fetch_links.json?page_num=1&browse=" + browseOnly + "&project=" + project + "&collection=" + collection;
    fetchLinks(url);
  })();
</script>
</body>
</html>
