<!-- ko if: window.tokenExpiresIn === null -->
<a href="<%=edsc_path '/login' %>" class="button user-info sign-in"><i class="fa fa-lock"></i> Earthdata Login</a>
<!-- /ko -->
<!-- ko if: window.tokenExpiresIn !== null -->
<div class="dropdown user-info">
  <a href="#" data-toggle="dropdown" class="toolbar-button" title="Manage user account">
    <%# Gravatar support #>
    <%# <img src="http://www.gravatar.com/avatar/b9802276d84112acceaf83c6ab10940f.png" width="42"> %>
    <i class="fa fa-user"></i>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="<%=edsc_path '/contact_info' %>" class="dropdown-link dropdown-link-contact-info">Contact Information</a>
    </li>
    <li>
      <a href="<%=edsc_path '/data/status' %>" class="dropdown-link dropdown-link-contact-info">Recent Retrievals</a>
    </li>
    <li>
      <a href="<%=edsc_path '/projects' %>" class="dropdown-link dropdown-link-projects">Saved Projects</a>
    </li>
    <li>
      <a href="<%=edsc_path '/logout' %>" class="dropdown-link dropdown-link-logout">Logout</a>
    </li>
  </ul>
</div>
<!-- /ko -->
