<% content_for :javascript do %>
  <script>
    this.edscPageData = <%= raw @project.to_json %>;
  </script>
  <%= javascript_include_tag "data_access" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="data-access">
  <nav class="data-access-nav">
    <a href="javascript:history.back()"><i class="edsc-icon-arrow-left"></i> Back to Search Session</a>
  </nav>
  <header>
    <h1>Data Access</h1>
    <p>Review and select service options for your data prior to download</p>
  </header>
  <ol class="data-access-content data-access-datasets-config">
    <!-- ko foreach: project.datasets -->
    <li class="access-item">
      <div class="access-item-header">
        <h2 data-bind="text: dataset_id"></h2>
      </div>
      <div class="access-item-body" data-bind="css: { hidden: $index() != $root.ui.serviceOptionsList.activeIndex() }">
        <div class="access-item-details panel-body">
          <h3 data-bind="css: {busy: granuleAccessOptions().hits == null}">Review &amp; Select Service Options</h3>
          <!-- ko if: granuleAccessOptions().hits && granuleAccessOptions().hits > 0 -->
          <div class="access-item-review">
            <h4>Review</h4>
            <p class="summary">
              <span class="summary-data" data-bind="text: granuleAccessOptions().hits"></span>
              <span class="summary-label">Granules</span>
              <span class="summary-caveat" data-bind="if: granuleAccessOptions().hits > 2000">
                Access methods other than "Download" are limited to the first 2000 granules.
              </span>
            </p>
            <p class="summary" data-bind="if: granuleAccessOptions().size != 0">
              <span class="summary-data" data-bind="text: granuleAccessOptions().size"></span>
              <span class="summary-label" data-bind="text: granuleAccessOptions().sizeUnit"></span>
            </p>
          </div>

          <div class="granule-list">
            <h4>Granule List</h4>
            <!-- ko ifnot: $root.ui.serviceOptionsList.showGranules -->
            <p>
              <a class="button-control" data-bind="ifnot: $root.ui.serviceOptionsList.showGranules, click: $root.ui.serviceOptionsList.showGranuleList" href="#"><i class="fa fa-arrow-circle-o-down"></i> Expand List</a>
            </p>
            <!-- /ko -->
            <!-- ko if: $root.ui.serviceOptionsList.showGranules -->
            <p>
              <a class="button-control" data-bind="if: $root.ui.serviceOptionsList.showGranules, click: $root.ui.serviceOptionsList.hideGranuleList" href="#"><i class="fa fa-arrow-circle-o-up"></i> Hide List</a>
            </p>
            <div data-bind="event: {scroll: $root.ui.serviceOptionsList.scrolled}">
              <ul>
              <!-- ko foreach: granulesModel.results() -->
                <li>
                  <h5 data-bind="text: title"></h5>
                  <span data-bind="text: getTemporal()"></span>
                </li>
              <!-- /ko -->
              </ul>
            </div>
            <!-- /ko -->
          </div>

          <div class="access-item-options">
            <h4>Service Options</h4>
            <div>
              <!-- ko if: serviceOptions.isLoaded() -->
                <!-- ko foreach: serviceOptions.accessMethod -->
                <p class="access-item-selection">
                  <span class="access-method-label">Select Data Access Method:</span>
                  <a data-bind="visible: $parent.serviceOptions.accessMethod().length > 1, click: $parent.serviceOptions.removeAccessMethod" class="remove-access-item" href="#" title="Remove access method"><i class="fa fa-times-circle"></i></a>
                  <!-- ko foreach: availableMethods -->
                  <label>
                    <input data-bind="checked: $parent.method, attr: { value: name, name: $parentContext.$index() + '-access-method' }" type="radio" />
                    <span data-bind="text: name"></span>
                  </label>
                  <!-- /ko -->
                </p>
                <div class="access-form" data-bind="echoform: $data"></div>
                <!-- /ko -->
              <!-- /ko -->
              <p class="add-access-item" data-bind="visible: serviceOptions.canAddAccessMethod()">
                <button data-bind="click: serviceOptions.addAccessMethod" class="button-small"> <i class="fa fa-plus-circle"></i> Add access method</button>
                <span class="instructions"> <i class="fa fa-arrow-circle-left"></i> Access these granules again with different options</span>
              </p>
            </div>
          </div>
          <!-- /ko -->
          <!-- ko if: granuleAccessOptions().hits === 0 -->
          <div class="access-item-review">
            <h4>Dataset Only</h4>
            <div>
              <p class="access-item-selection">
                <span class="access-method-label">Select Data Access Method:</span>
                <label>
                  <input checked type="radio" />
                  <span>Download</span>
                </label>
              </p>
            </div>
          </div>
          <!-- /ko -->
        </div>

        <div class="access-item-actions">
          <button data-bind="visible: $index() > 0, click: $root.ui.serviceOptionsList.showPrevious" class="button-back low-priority">Back</button>
          <button data-bind="visible: !$root.ui.serviceOptionsList.isLastOption(), enable: serviceOptions.readyToDownload(), click: $root.ui.serviceOptionsList.showNext" class="button-next">Continue</button>
          <button data-bind="visible: $root.ui.serviceOptionsList.isLastOption(), enable: $root.project.allReadyToDownload(), click: $root.ui.serviceOptionsList.submitRequest" class="button-next access-submit">Submit</button>
        </div>
      </div>
    </li>
    <!-- /ko -->
    <!-- ko if: ui.serviceOptionsList.needsContactInfo() -->
    <li class="access-item">
      <div class="access-item-header">
        <h2>Contact Information &amp; Submit</h2>
      </div>

      <div class="access-item-body" data-bind="css: { hidden: project.datasets().length != ui.serviceOptionsList.activeIndex() }">
        <div class="access-item-details panel-body">
          <form data-bind="submit: account.updateContactInformation" class="account-form">
            <%= render partial: 'users/contact_info_form' %>
          </form>
        </div>
        <div class="access-item-actions">
          <button data-bind="click: $root.ui.serviceOptionsList.showPrevious" class="button-back low-priority">Back</button>
          <button data-bind="enable: project.allReadyToDownload(), click: ui.serviceOptionsList.submitRequest" class="button-next access-submit">Submit</button>
        </div>
      </div>
    </li>
    <!-- /ko -->
  </ol>
  <form id="data-access" method="POST" action="/data/retrieve" style="display:none;">
    <div>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input id="data-access-project" name="project" type="hidden">
      <input id="data-access-account" name="account" type="hidden">
    </div>
  </form>
</div>
