<% content_for :javascript do %>
  <%= javascript_include_tag "data_access" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="data-access">
  <nav class="data-access-nav">
    <a href="<%= @back_path %>?<%= request.query_string %>">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Search Session
    </a>
  </nav>
  <header>
    <h1>Data Access</h1>
    <p>Review and select service options for your data prior to download</p>
  </header>
  <ol class="data-access-content data-access-collections-config knockout-template" data-bind="css: { 'knockout-template': !bindingsLoaded }">
    <!-- ko foreach: project.accessCollections -->
    <li class="access-item">
      <div class="access-item-header">
        <h2 data-bind="text: collection.dataset_id"></h2>
      </div>
      <div class="access-item-body" data-bind="css: { hidden: $index() != $root.ui.serviceOptionsList.activeIndex() }">
        <div class="access-item-details panel-body">
          <h3 data-bind="css: {busy: granuleAccessOptions().hits == null}">Review &amp; Select Service Options</h3>
          <!-- ko if: granuleAccessOptions().hits != null && collection.has_granules -->
          <div class="access-item-review">
            <h4>Review</h4>
            <p class="summary">
              <span class="summary-data" data-bind="text: granuleAccessOptions().hits"></span>
              <span class="summary-label" data-bind="text: granuleAccessOptions().hits > 1 ? 'Granules' : 'Granule'"></span>
              <span class="summary-caveat" data-bind="if: granuleAccessOptions().hits > 2000">
                Access methods other than "Download" are limited to the first 2000 granules.
              </span>
            </p>
            <p class="summary" data-bind="if: granuleAccessOptions().size && granuleAccessOptions().size != 0">
              <span class="summary-data" data-bind="text: granuleAccessOptions().size"></span>
              <span class="summary-label" data-bind="text: granuleAccessOptions().sizeUnit"></span>
            </p>
          </div>

          <!-- ko if: granuleAccessOptions().hits == 0 -->
          <p>There are no matching granules to access for this collection</p>
          <!-- /ko -->
          <!-- ko if: granuleAccessOptions().hits > 0 -->
          <div class="granule-list">
            <h4>Granule List</h4>
            <!-- ko ifnot: $root.ui.serviceOptionsList.showGranules -->
            <p>
              <a class="button-control" data-bind="ifnot: $root.ui.serviceOptionsList.showGranules, click: $root.ui.serviceOptionsList.showGranuleList" href="#"><i class="fa fa-arrow-circle-o-down"></i> Expand List</a>
            </p>
            <!-- /ko -->
            <!-- ko if: $root.ui.serviceOptionsList.showGranules -->
            <p>
              <a class="button-control" data-bind="if: $root.ui.serviceOptionsList.showGranules, click: $root.ui.serviceOptionsList.hideGranuleList" href="#"><i class="fa fa-arrow-circle-o-up"></i> Hide List</a>
            </p>
            <div data-bind="event: {scroll: $root.ui.serviceOptionsList.scrolled}">
              <ul>
              <!-- ko foreach: collection.granuleDatasource().data().results() -->
                <li>
                  <h5 data-bind="text: displayName()"></h5>
                  <span data-bind="text: getTemporal()"></span>
                </li>
              <!-- /ko -->
              </ul>
            </div>
            <!-- /ko -->
          </div>
          <div class="access-item-data-quality" data-bind="if: granuleAccessOptions().dqs && granuleAccessOptions().dqs.length > 0">
            <h4>Quality Information</h4>
            <!-- ko foreach: granuleAccessOptions().dqs -->
            <p data-bind="html: data_quality_summary_definition.summary"></p>
            <!-- /ko -->
          </div>

          <div class="access-item-options">
            <h4>Service Options</h4>
            <div>
              <!-- ko if: serviceOptions.isLoaded() -->
                <!-- ko foreach: serviceOptions.accessMethod -->
                <p class="access-item-selection">
                  <span class="access-method-label">Select Data Access Method:</span>
                  <a data-bind="visible: $parent.serviceOptions.accessMethod().length > 1, click: $parent.serviceOptions.removeAccessMethod" class="remove-access-item" href="#" title="Remove access method"><i class="fa fa-times-circle"></i></a>
                  <!-- ko foreach: availableMethods -->
                  <label>
                    <input data-bind="checked: $parent.method, attr: { value: name, name:  $parentContext.$parentContext.$index() + $parentContext.$index() +  '-access-method' }" type="radio" />
                    <span data-bind="text: name"></span>
                  </label>
                  <!-- /ko -->
                </p>
                <div class="access-form" data-bind="echoform: $data"></div>
                <div class="access-subset-options" data-bind="if: subsetOptions">
                  <div class="access-subset-options-section">
                    <h5>File format</h5>
                    <!-- ko foreach: subsetOptions().formats -->
                      <label class="radio-label">
                        <input data-bind="checked: $parent.subsetOptions().formatName, attr: { value: name, name: $parentContext.$index() + '-file-type' }" type="radio" />
                        <span data-bind="text: name"></span>
                      </label>
                    <!-- /ko -->
                  </div>
                  <!-- ko if: subsetOptions().format().canSubset -->
                    <!-- ko if: subsetOptions().config.spatial -->
                      <div class="access-subset-options-section">
                        <h5>Spatial subsetting</h5>
                        <label>
                          <input data-bind="checked: subsetOptions().subsetToSpatial" type="checkbox" />
                          <span>Subset to my spatial search area's bounding box</span>
                        </label>
                        <div class="access-subset-map" data-bind="mapdisplay: subsetOptions().config.spatial"></div>
                      </div>
                    <!-- /ko -->
                    <div class="access-subset-options-section">
                      <h5>Parameters</h5>
                      <!-- ko foreach: subsetOptions().parameters -->
                        <div class="access-parameter">
                          <label>
                            <input data-bind="checked: selected" type="checkbox" />
                            <span data-bind="text: id"></span>
                          </label>
                          <span class="description" data-bind="text: title"></span>
                        </div>
                      <!-- /ko -->
                    </div>
                  <!-- /ko -->
                </div>
                <!-- /ko -->
                <!-- ko if: serviceOptions.accessMethod().length == 0 -->
                  <p>Data access is not available for this collection.</p>
                <!-- /ko -->
              <!-- /ko -->
              <p class="add-access-item" data-bind="visible: serviceOptions.canAddAccessMethod()">
                <button data-bind="click: serviceOptions.addAccessMethod" class="button-small"> <i class="fa fa-plus-circle"></i> Add access method</button>
                <span class="instructions"> <i class="fa fa-arrow-circle-left"></i> Access these granules again with different options</span>
              </p>
            </div>
          </div>
          <!-- /ko -->
          <!-- /ko -->
          <!-- ko if: !collection.has_granules -->
          <div class="access-item-review">
            <h4>Collection Only</h4>
            <div>
              <p class="access-item-selection">
                <span class="access-method-label">Select Data Access Method:</span>
                <label>
                  <input checked type="radio" />
                  <span>Download</span>
                </label>
              </p>
            </div>
          </div>
          <!-- /ko -->
        </div>

        <div class="access-item-actions">
          <button data-bind="visible: $index() > 0, click: $root.ui.serviceOptionsList.showPrevious" class="button-back low-priority">Back</button>
          <button data-bind="visible: !$root.ui.serviceOptionsList.isLastOption(), enable: serviceOptions.readyToDownload(), click: $root.ui.serviceOptionsList.checkOrderSize" class="button-next">Continue</button>
          <button data-bind="visible: $root.ui.serviceOptionsList.isLastOption(), enable: $root.project.allReadyToDownload(), click: $root.ui.serviceOptionsList.submitRequest" class="button-next access-submit">Submit</button>
        </div>
      </div>
    </li>
    <!-- /ko -->
    <!-- ko if: ui.serviceOptionsList.needsContactInfo() -->
    <li class="access-item">
      <div class="access-item-header">
        <h2>Contact Information &amp; Submit</h2>
      </div>

      <div class="access-item-body" data-bind="css: { hidden: project.accessCollections().length != ui.serviceOptionsList.activeIndex() }">
        <div class="access-item-details panel-body">
          <form data-bind="submit: account.updateNotificationPreference" class="account-form">
            <%= render partial: 'users/contact_info_form' %>
          </form>
        </div>
        <div class="access-item-actions">
          <button data-bind="click: ui.serviceOptionsList.showPrevious" class="button-back low-priority">Back</button>
          <button data-bind="enable: project.allReadyToDownload(), click: ui.serviceOptionsList.submitRequest" class="button-next access-submit">Submit</button>
        </div>
      </div>
    </li>
    <!-- /ko -->
  </ol>
  <form id="data-access" method="POST" action="<%=edsc_path "/data/retrieve"%>" style="display:none;">
    <div>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input id="data-access-project" name="project" type="hidden">
    </div>
  </form>
</div>

<!--begin modal-->
<div class="modal fade" id="tooManyGranulesModal" tabindex="-1" role="dialog" aria-labelledby="tooManyGranulesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="tooManyGranulesModalLabel">Maximum Granules Exceeded</h4>
      </div>
      <div class="modal-body">
        <p>
          Access methods other than "Download" are limited to the
          first 2,000 granules.  If you choose to continue, your request
          may be truncated to the first 2,000 granules or rejected entirely.
        </p>
      </div>
      <div class="modal-footer">
        <a class="button text-button" href="<%= @back_path %>?<%= request.query_string %>"><i class="fa fa-arrow-circle-left"></i> Refine your search</a>
        <a class="button text-button" data-dismiss="modal" href="#">Change access methods</a>
        <a class="button text-button" href="#" data-bind="click: $root.ui.serviceOptionsList.showNext">Continue</a>
      </div>
    </div>
  </div>
</div>
<!--end modal-->
