<% content_for :javascript do %>
  <script>
    this.edscPageData = <%= raw @project.to_json %>;
  </script>
  <%= javascript_include_tag "data_access" %>
<% end %>

<% content_for :toolbar do %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="data-access">
  <nav class="data-access-nav">
    <a href="javascript:history.back()"><i class="edsc-icon-arrow-left"></i> Back to Search Session</a>
  </nav>
  <header>
    <h1>Data Access</h1>
    <p>Review and select service options for your data prior to download</p>
  </header>
  <ol class="data-access-content data-access-datasets-config">
    <!-- ko foreach: project.datasets -->
    <li class="access-item">
      <div class="access-item-header">
        <h2 data-bind="text: dataset_id"></h2>
      </div>

      <div class="access-item-body" data-bind="css: { hidden: $index() != $root.ui.serviceOptionsList.activeIndex() }">
        <div class="access-item-details panel-body">
          <h3>Review &amp; Select Service Options</h3>
          <!-- ko if: granuleAccessOptions().count && granuleAccessOptions().count > 0 -->
          <div class="access-item-review">
            <h4>Review</h4>
            <p class="summary">
              <span class="summary-data" data-bind="text: granuleAccessOptions().count"></span>
              <span class="summary-label">Granules</span>
            </p>
            <p class="summary" data-bind="ifnot: isNaN(granuleAccessOptions().size)">
              <span class="summary-data" data-bind="text: granuleAccessOptions().size"></span>
              <span class="summary-label" data-bind="text: granuleAccessOptions().sizeUnit"></span>
            </p>
          </div>
          <div class="access-item-options">
            <h4>Service Options</h4>
            <div>
              <!-- ko ifnot: granuleAccessOptions().canDownloadAll -->
              <p>
                Only <span data-bind="text: granuleAccessOptions().downloadCount"></span> of <span data-bind="text: granuleAccessOptions().count"></span> items can be downloaded
              </p>
              <!-- /ko -->
              <p>
                <!-- ko if: granuleAccessOptions().canDownload -->
                <span class="access-method-label">Select Data Access Method</span>
                <input data-bind="checked: serviceOptions.accessMethod, attr: { name: $index() + '-access-method', id: $index() + '-download' }" type="radio" id="download" value="download" /><label data-bind="attr: { for: $index() + '-download' }" class="access-method-radio-label">Download</label>
                <!-- /ko -->
              </p>
            </div>
          </div>
          <!-- /ko -->
          <!-- ko if: granuleAccessOptions().count === 0 -->
          <div class="access-item-review">
            <h4>Dataset Only</h4>
          </div>
          <!-- /ko -->
        </div>

        <div class="access-item-actions">
          <button data-bind="visible: $index() > 0, click: $root.ui.serviceOptionsList.showPrevious" class="button-back low-priority">Back</button>
          <button data-bind="visible: ($index() < ($parent.project.datasets().length - 1)), enable: serviceOptions.readyToDownload(), click: $root.ui.serviceOptionsList.showNext" class="button-next">Continue</button>
          <button data-bind="visible: ($index() === ($parent.project.datasets().length - 1)), enable: $parent.project.allReadyToDownload(), click: $parent.ui.projectList.loginAndDownloadProject" class="button-next">Submit</button>
        </div>
      </div>
    </li>
    <!-- /ko -->
    <li class="access-item">
      <div class="access-item-header">
        <h2>Contact Information &amp; Submit</h2>
      </div>

      <div class="access-item-body">
        <div class="access-item-details panel-body">
          <div class="contact-info-form">
            <%= render partial: 'users/contact_info_form' %>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <form id="data-access" method="POST" action="/data/retrieve" style="display:none;">
    <div>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input id="data-access-project" name="project" type="hidden">
    </div>
  </form>
</div>
