<% content_for :javascript do %>
  <script>
    this.edscPageData = <%= raw @retrieval.project.merge(id: @retrieval.to_param).to_json %>;
  </script>
  <%= javascript_include_tag "data_access" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<section class="data-access data-access-retrieve">
  <nav class="data-access-nav">
    <a href="<%=edsc_path "/data/configure?#{@retrieval.source}" %>"><i class="fa fa-chevron-circle-left"></i> Back to Data Access Options</a>
  </nav>
  <header class="data-access-header" data-bind="visible: ui.projectList.awaitingStatus()">
    <h1>Request in Progress</h1>
    <p>Your request is being processed.  Please standby for status.</p>
  </header>
  <div class="data-access-container">
    <h2>Order Status</h2>
    <p>
      This page will automatically update as your orders are processed. The Order Status page can be accessed later by visiting <a class="link" href="#" data-bind="attr: {href: ui.projectList.getPageURL()}, text: ui.projectList.getPageURL()"></a> or the <a class="link" href="/data/status/">Download Status and History</a> page.
    </p>
    <section class="data-access-content data-access-downloads" data-bind="visible: ui.projectList.collectionsToDownload().length > 0">
      <h3 class="data-access-content-title">Direct Download</h3>
      <p>
        Click the "View/Download Data Links" button to view or download a file containing links to your data.
      </p>
      <ul class="data-access-collections-list data-access-collections-list-panel" data-bind="foreach: ui.projectList.collectionsToDownload">
        <li class="data-access-collection complete">
          <h4 class="data-access-collection-name" data-bind="text: title"></h4>
          <div class="data-access-collection-actions">
            <!-- ko foreach: links -->
            <a class="button button-small text-button" href="#" target="_blank" data-bind="text: title, attr: {href: url, title: tooltip}" data-tooltip="true" data-placement="bottom"></a>
            <!-- /ko -->
          </div>
        </li>
      </ul>
    </section>
    <section class="data-access-content data-access-orders" data-bind="visible: ui.projectList.submittedOrders().length > 0">
      <h3 class="data-access-content-title">Stage for Delivery</h3>
      <p>
        When the data for the following orders becomes available, an email containing download links will be sent to the address you've provided.
      </p>
      <ul class="data-access-collections-list data-access-collections-list-panel" data-bind="foreach: ui.projectList.submittedOrders">
        <li class="data-access-collection" data-bind="css: order_status_to_classname">
          <h4 class="data-access-collection-name" data-bind="text: dataset_id"></h4>
          <!-- ko if: order_status -->
          <div class="data-access-collection-body">
            <div class="data-access-collection-state" data-bind="css: order_status_to_classname">
              <span data-bind="text: order_status"></span>
            </div>
            <div class="data-access-collection-state-text">
              <!-- ko if: order_status == 'creating' || order_status == 'submitting'  -->
              <p>
                Your orders are pending processing. This may take some time.
              </p>
              <!-- /ko -->
              <!-- ko if: order_status == 'processing' -->
              <p>
                Your orders are currently processing. Once processing is finished, links will be sent to the email you've provided.
              </p>
              <!-- /ko -->
              <!-- ko if: order_status == 'closed' -->
              <p>
                Your orders are done processing and have been sent to the email you've provided.
              </p>
              <!-- /ko -->
            </div>
          </div>
          <!-- /ko -->
          <!-- ko if: downloadBrowseUrl || cancel_link || (dropped_granules && dropped_granules.length > 0) -->
          <div class="data-access-collection-actions">
            <!-- ko if: downloadBrowseUrl -->
            <a class="button button-small text-button" href="#" target="_blank" data-bind="attr: {href: downloadBrowseUrl}" title="View clickable browse links in browser" data-tooltip="true" data-placement="bottom">View Browse Image Links</a>
            <!-- /ko -->
            <!-- ko if: cancel_link -->
              <a data-bind="attr: {href: cancel_link}"
                 class="button button-small text-button"
                 data-remote="true"
                 data-method="post"
                 data-confirm="Are you sure you want to remove this order?  This action cannot be undone."
                 rel="nofollow">Cancel</a>
            <!-- /ko -->
            <!-- ko if: dropped_granules && dropped_granules.length > 0 -->
              <p>The following granules will not be processed because they do not support the <strong data-bind="text: method_name"></strong> access method:</p>
              <div class="granule-list">
                <div>
                  <ul>
                  <!--ko foreach: dropped_granules-->
                    <li>
                      <h5 data-bind="text: name"></h5>
                      <span data-bind="text: id"></span>
                    </li>
                  <!--/ko-->
                  </ul>
                </div>
              </div>
            <!-- /ko -->
          </div>
          <!-- /ko -->
          <!-- ko if: order_status == 'failed' -->
          <%= render partial: 'access_error' %>
          <!-- /ko -->
        </li>
      </ul>
    </section>
    <section class="data-access-content data-access-services" data-bind="visible: ui.projectList.submittedServiceOrders().length">
      <h3 class="data-access-content-title">Customize Product</h3>
      <p>
        When the data for the following orders become available, links will be displayed below and sent to the email address you've provided.
      </p>
      <ul class="data-access-collections-list data-access-collections-list-panel" data-bind="foreach: ui.projectList.submittedServiceOrders">
        <li class="data-access-collection" data-bind="css: order_status_to_classname">
          <h4 class="data-access-collection-name" data-bind="text: dataset_id"></h4>
          <!-- ko if: order_status -->
          <div class="data-access-collection-body">
            <div class="data-access-collection-state" data-bind="css: order_status_to_classname">
              <span data-bind="text: order_status"></span>
            </div>
            <div class="data-access-collection-state-text">
              <!-- ko if: order_status == 'creating'  -->
              <p>
                Your orders are pending processing. This may take some time.
              </p>
              <!-- /ko -->
              <!-- ko if: order_status == 'in progress' -->
              <p>
                Your orders are currently processing. Once processing is finished, links will be displayed below and sent to the email you've provided.
              </p>
              <!-- /ko -->
              <!-- ko if: order_status == 'complete' -->
              <p>
                Your orders are done processing and are available for download.
              </p>
              <!-- /ko -->
            </div>
          </div>
          <!-- /ko -->
          <div class="data-access-collection-actions">
            <!-- ko if: order_status == 'in progress' || order_status == 'complete' -->
            <span class="data-access-collection-est">
              <span data-bind="text: complete_orders"></span>/<span data-bind="text: total_orders"></span> orders complete
              <span class="data-access-collection-percentage">(<span data-bind="text: percent_done"></span>%)</span>
            </span>
            <button type="button" class="button-small more-details-button" data-bind="click: $root.ui.projectList.toggleMoreDetails">
              <span data-bind="text: !is_more_details_active ? 'More Details' : 'Less Details'"></span>
              <i class="fa " data-bind="css: is_more_details_active ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </button>
            <div class="dropdown" data-bind="css: is_download_links_active ? 'open' : ''">
              <button type="button" class="button-small dropdown-toggle" data-bind="attr: {disabled: !has_downloads_available}, click: $root.ui.projectList.toggleViewDownloads, clickBubble: false">
                Download Links <i class="fa " data-bind="css: is_download_links_active ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </button>
              <ul class="dropdown-menu download-dropdown" data-bind="foreach: orders">
                <li>
                  <div class="download-dropdown-header">
                    <p>
                      Order <span data-bind="text: ($index() + 1)"></span>/<span data-bind="text: $parent.total_orders"></span>
                      <span class="download-dropdown-header-secondary">- Order ID: <span data-bind="text: order_id"></span></span>
                    </p>
                  </div>
                  <div class="download-dropdown-content">
                  <!-- ko if: download_urls.length -->
                    <ul data-bind="foreach: download_urls">
                      <li>
                        <a class="link" href="#" target="_blank" data-bind="text: $data, attr: { href: $data }"></a>
                      </li>
                    </ul>
                  <!-- /ko -->
                  <!-- ko ifnot: download_urls.length -->
                    <!-- ko if: order_status -->
                    <span data-bind="text: order_status"></span>
                    <!-- /ko -->
                    <!-- ko if: percent_done -->
                    (<span data-bind="text: percent_done"></span>% complete)
                    <!-- /ko -->
                  <!-- /ko -->
                  </div>
                </li>
              </ul>
            </div>
            <!-- ko if: downloadBrowseUrl -->
            <a class="button button-small text-button" href="#" target="_blank" data-bind="attr: {href: downloadBrowseUrl}">View Browse Image Links</a>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: is_more_details_active -->
            <div class="data-access-collection-detail">
              <ul class="data-access-services-orders" data-bind="foreach: orders">
                <li class="data-access-services-order">
                  <!-- ko ifnot: order_status == 'failed' -->
                  <h5 class="data-access-order-id">Order ID: <span data-bind="text: order_id"></span></h5>
                  <!-- /ko -->
                  <p>
                    <!-- ko ifnot: order_status == 'failed' -->
                    <span data-bind="text: total_processed"></span> of <span data-bind="text: total_number"></span> granules processed (<span data-bind="text: percent_done"></span>%)
                    <!-- /ko -->
                    <span class="data-access-order-status" data-bind="css: order_status, text: order_status"></span>
                    <!-- ko if: order_status == 'failed' -->
                    <span>This order failed to submit. Please try again later.</span>
                    <!-- /ko -->
                  </p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="attr: { 'aria-valuenow': percent_done}, style: { width: percent_done + '%' }">
                    </div>
                  </div>
                </li>
              </ul>
              <!-- ko if: contact && contact.name && contact.email -->
              <p class="data-access-collection-contact">For assistance, please contact
                <span data-bind="text: contact.name"></span> at
                <a class="link" data-bind="attr: { href: 'mailto:' + contact.email }">
                  <span data-bind="text: contact.email"></span>
                </a>
              </p>
              <!-- /ko -->
            </div>
            <!-- /ko -->
          </div>
          <!-- ko if: order_status == 'failed' -->
          <%= render partial: 'access_error' %>
          <!-- /ko -->
        </li>
      </ul>
    </section>
    <section class="data-access-content data-access-resources" data-bind="visible: ui.projectList.collectionLinks().length > 0">
      <h2>Additional Resources and Documentation</h2>
      <ul class="data-access-collections-list" data-bind="foreach: ui.projectList.collectionLinks">
        <li class="data-access-collection">
          <p class="data-access-collection-name" data-bind="text: dataset_id"></p>
          <ul class="data-access-collection-actions" data-bind="foreach: links">
            <li><a class="link" data-bind="attr: {href: href}, text: title"></a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
  <section class="data-access-next">
    <h2>Next Steps</h2>
    <ul>
      <li>
        <i class="fa fa-chevron-circle-right"></i> <a class="link" href="<%=edsc_path "/search?#{@retrieval.source}" %>">Back to <%= site_name %> Results</a>
      </li>
      <li>
        <i class="fa fa-chevron-circle-right"></i> <a class="link" href="<%=edsc_path "/"%>">Start a New <%= site_name %> Session</a>
      </li>
      <li>
        <i class="fa fa-chevron-circle-right"></i> <a class="link" href="<%=edsc_path '/data/status' %>">View Your Download Status & History</a>
      </li>
    </ul>
  </section>
</section>
