<% content_for :javascript do %>
  <script>
    this.edscPageData = <%= raw @retrieval.jsondata.merge(id: @retrieval.to_param).to_json %>;
  </script>
  <%= javascript_include_tag "data_access" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<section class="data-access data-access-retrieve">
  <nav class="data-access-nav">
    <a href="javascript:history.back()"><i class="edsc-icon-arrow-left"></i> Back to Data Access Options</a>
  </nav>
  <header class="data-access-header">
    <h1>Success!</h1>
    <p>Your request has been processed.  See below for information on accessing your data.</p>
  </header>
  <div class="data-access-container">
    <section class="data-access-content data-access-downloads" data-bind="visible: ui.projectList.datasetsToDownload().length > 0">
      <h2>The following datasets are available for immediate download</h2>
      <p>
        Click the "View Download Links" button to view a page containing links to your data.
        You may bookmark this page for later access.
        A browser download manager plugin such as Firefox's
        <a class="link" href="https://addons.mozilla.org/en-US/firefox/addon/downthemall/">DownThemAll!</a>
        can assist you in managing a large number of download links.
      </p>
      <ul class="data-access-datasets-list" data-bind="foreach: ui.projectList.datasetsToDownload">
        <li class="data-access-dataset">
          <p class="data-access-dataset-name" data-bind="text: title"></p>
          <div class="data-access-dataset-actions">
            <a class="button text-button" href="#" target="_blank" data-bind="attr: {href: downloadPageUrl}">View Download Links</a>
            <a class="button text-button" href="#" target="_blank" data-bind="attr: {href: downloadScriptUrl}">Download Access Script</a>
          </div>
        </li>
      </ul>
    </section>
    <section class="data-access-content data-access-dataset-only" data-bind="visible: ui.projectList.datasetOnly().length > 0">
      <h2>The following datasets are available on the provider's website</h2>
      <ul class="data-access-datasets-list" data-bind="foreach: ui.projectList.datasetOnly">
        <li class="data-access-dataset">
          <p class="data-access-dataset-name" data-bind="text: dataset.dataset_id"></p>
          <!-- ko foreach: (dataset.hasAtomData() ? dataset.links : []) -->
          <p data-bind="if: $data.rel == 'enclosure' || $data.rel.indexOf('/data') > -1">
            <a class="link" data-bind="attr: {href: $data.href}, text: edsc.util.string.capitalize($data.title)" target="_blank"></a>
          </p>
          <!-- /ko -->
        </li>
      </ul>
    </section>
    <section class="data-access-content data-access-orders" data-bind="visible: ui.projectList.submittedOrders().length > 0">
      <h2>The following datasets are being processed</h2>
      <p>
        When the data becomes available, an email containing download links will be sent to the address you provided.
      </p>
      <ul class="data-access-datasets-list" data-bind="foreach: ui.projectList.submittedOrders">
        <li class="data-access-dataset">
          <p>
            <span class="data-access-dataset-name" data-bind="text: dataset_id"></span>
            <!-- ko if: order_status -->
            <span class="order-state" data-bind="css: order_status, text: order_status"></span>
            <!-- /ko -->
          </p>
          <div class="data-access-dataset-actions">
            <!-- ko if: cancel_link -->
              <a data-bind="attr: {href: cancel_link}"
                 class="button text-button"
                 data-remote="true"
                 data-method="post"
                 data-confirm="Are you sure you want to remove this order?  This action cannot be undone."
                 rel="nofollow">Cancel</a>
              <!-- /ko -->
          </div>
        </li>
      </ul>
    </section>
    <section class="data-access-content data-access-resources" data-bind="visible: ui.projectList.datasetLinks().length > 0">
      <h2>Additional Resources and Documentation</h2>
      <ul class="data-access-datasets-list" data-bind="foreach: ui.projectList.datasetLinks">
        <li class="data-access-dataset">
          <p class="data-access-dataset-name" data-bind="text: dataset_id"></p>
          <ul class="data-access-dataset-actions" data-bind="foreach: links">
            <li><a class="link" data-bind="attr: {href: href}, text: title"></a></li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
  <section class="data-access-next">
    <h2>Next Steps</h2>
    <ul>
      <li><i class="fa fa-chevron-circle-right"></i> <a class="link" href="/search?<%= @retrieval.jsondata['source'] %>">Back to Earthdata Search Results</a></li>
      <li><i class="fa fa-chevron-circle-right"></i> <a class="link" href="/">Start a New Earthdata Search Session</a></li>
    </ul>
  </section>
</section>
