<% content_for :javascript do %>
  <%= javascript_include_tag "account" %>
<% end %>
<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="data-access">
  <nav class="data-access-nav">
    <a href="javascript:history.back()"><i class="fa fa-arrow-circle-o-left"></i> Back <%= request.referrer && request.referrer.include?('search') ? 'to Search Session' : '' %></a>
  </nav>
  <header>
    <h1>Recent Data Retrievals</h1>
  </header>
  <div class="data-access-content">
  <% if @retrievals.size == 0 %>
    <p>No recent retrievals</p>
  <% else %>
    <table class="data-retrievals">
      <thead>
        <tr>
          <th></th>
          <th>Contents</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @retrievals.each do |retrieval| %>
        <tr class="<%= cycle("odd", "even") -%>">
          <td>
            <a href="<%=edsc_path "/data/remove?retrieval_id=#{retrieval.to_param}" %>" title="Remove Retrieval"
               title="remove"
               data-method="post"
               data-confirm="Are you sure you want to remove this data retrieval?  This action cannot be undone."
               rel="nofollow"><i class="fa fa-times-circle"></i></a>
          </td>
          <td>
            <a href="<%= retrieval.path %>">
              <% if retrieval.portal %>
                <span class="portal-title">[<%= retrieval.portal_title %>]</span>
              <% end %>
              <%= retrieval.description %>
            </a>
          </td>
          <td class="data-retrieval-time-ago">
            <%= time_ago_in_words(retrieval.created_at, include_seconds: true).capitalize %> ago
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
