<% content_for :javascript do %>
  <%= javascript_include_tag "account" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="data-access">
  <nav class="data-access-nav">
      <a href="javascript:history.back()"><i class="fa fa-arrow-circle-o-left"></i> Back <%= request.referrer && request.referrer.include?('search') ? 'to Search Session' : '' %></a>
  </nav>
  <header>
    <h1><i class="fa fa-folder-o"></i> Saved Projects</h1>
  </header>
  <div class="data-access-content">
    <% if @projects.size == 0 %>
      <p>No saved projects</p>
    <% else %>
      <table class="data-retrievals">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Contents</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
          <tr class="<%= cycle("odd", "even") -%>">
            <td>
              <strong><a href="<%= project.url %>" class="project-url"><%= project.name %></a></strong>
            </td>
            <td>
              <%= pluralize(project.number_collections, 'collection') %>
            </td>
            <td>
              <%= time_ago_in_words(project.created_at, include_seconds: true).capitalize %> ago
            </td>
            <td>
              <a href="javascript:void(0)" title="Share Project" class="share-project"><i class="fa fa-share-square-o"></i></a>
              <a href="<%=edsc_path "/projects/remove?project_id=#{project.to_param}" %>" title="Remove Project"
                 data-remote="true"
                 data-method="post"
                 data-confirm="Are you sure you want to remove this project?  This action cannot be undone."
                 rel="nofollow"><i class="fa fa-times-circle"></i></a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
