<% content_for :javascript do %>
  <%= javascript_include_tag "account" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="sessions">
  <nav class="sessions-nav">
      <a href="javascript:history.back()"><i class="edsc-icon-arrow-left"></i> Back <%= request.referrer && request.referrer.include?('search') ? 'to Search Session' : '' %></a>
  </nav>
  <header>
    <h1>Saved Search Sessions</h1>
  </header>
  <div class="sessions-content">
    <% if @projects.size == 0 %>
      <p>No saved sessions</p>
    <% else %>
      <% @projects.each do |project| %>
      <p>
        <a href="<%= project.url %>"><%= project.name %></a>
      </p>
      <% end %>
    <% end %>
  </div>
</div>
