<% content_for :javascript do %>
  <%= javascript_include_tag "account" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <a class="toolbar-button" href="<%= @back_path %>?<%= request.query_string %>"><i class="fa fa-arrow-circle-o-left"></i> Back <%= request.referrer && request.referrer.include?('search') ? 'to Search Session' : '' %></a>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>
<div class="project">
  <section class="project-info-sidebar">
    <header>
      <h1>
        <a class="nasa-logo" href="<%= root_path %>" title="Earthdata Search Home"></a>
        <%= portal_logo %>
        <a class="site-logo" href="<%=edsc_path root_path %>">
          <span class="site-logo-org"><%= site_logo_org %></span>
          <%= site_logo_title %>
        </a>
        <% unless Rails.configuration.logo_name.blank? %>
          <span class="version-badge"><%= Rails.configuration.logo_name %></span>
        <% end %>
      </h1>
    </header>

    <div class="bounding-box">
      <div class="bounding-box-map"></div>
    </div>
    <h3>Variables</h3>
    <h3>Transformations</h3>
    <h3>Output Formats</h3>
  </section>
  <section class="project-collections">
    <h2>Great Lakes Surface Reflectance Study</h2>
    <ul class="project-stats">
      <li><span class="value">6</span> Collections</li>
      <li><span class="value">45</span> Granules</li>
      <li><span class="value">574</span> MB</li>
    </ul>
    <div class="project-collection-cards">
      <div class="collection-card">
        <h3>AIRS/Aqua L3 Daily Standard Physical Retrieval (AIRS-only) 1 degree x 1 degree V006 (AIRS3STD) at GES DISC</h3>
      </div>
      <div class="collection-card">
        <h3>AIRS/Aqua L3 Daily Standard Physical Retrieval (AIRS-only) 1 degree x 1 degree V006 (AIRS3STD) at GES DISC</h3>
      </div>
      <div class="collection-card">
        <h3>AIRS/Aqua L3 Daily Standard Physical Retrieval (AIRS-only) 1 degree x 1 degree V006 (AIRS3STD) at GES DISC</h3>
      </div>
    </div>
  </section>
</div>
