<% content_for :header do %>
  <div id="choose-temporal-modal" data-bind="showModal: ui.projectList.needsTemporalChoice" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </a>
          <h3 class="modal-title" id="myModalLabel">What temporal selection would you like to use?</h3>
        </div>
        <div class="modal-body">
          <p>
            Would you like to filter your download by the focused time span (blue lines) or your selected temporal constraint (orange lines)?
          </p>
          <div class="choice choice-1"><%= image_tag "blue-bars-circle.png" %></div>
          <div class="choice choice-2"><%= image_tag "orange-bars-circle.png" %></div>
        </div>
        <div class="modal-footer">
          <div class="choice choice-1"><button data-bind="click: ui.projectList.chooseOverride">Use Focused Time Span</button></div>
          <div class="choice choice-2"><button data-bind="click: ui.projectList.chooseTemporal">Use Temporal Constraint</button></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for(:main_wrapper_class, "project")%>

<% content_for :javascript do %>
  <%= javascript_include_tag "projects" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <a class="back-button back-to-search toolbar-button" href="#" data-bind="click: project.backToSearch"><i class="fa fa-arrow-circle-o-left"></i> Back to Search Session</a>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="master-overlay projects-overlay">
  <%= render partial: 'shared/overlay_parent' %>
  <div class="master-overlay-main"></div>
  <div id="projects-map" class="map map-placeholder"></div>
  <form id="data-access" method="POST" action="<%=edsc_path "/data/retrieve"%>" style="display:none;">
    <div>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input id="data-access-project" name="project" type="hidden">
    </div>
  </form>
</div>

<% content_for :global do %>
  <%= render partial: 'data_access/too_many_granules_modal' %>
<% end %>

<% content_for :footer do %>
  <%= render partial: 'search/timeline' %>
<% end %>
