<% content_for :javascript do %>
  <%= javascript_include_tag "projects" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <a class="back-button back-to-search" href="<%= edsc_path @project.path.split('?')[0] %>?projectId=<%=@project.to_param%>"><i class="fa fa-arrow-circle-o-left"></i> Back to Search Session</a>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>
<div class="project">
  <section class="project-info-sidebar">
    <header>
      <h1>
        <a class="nasa-logo" href="<%= root_path %>" title="Earthdata Search Home"></a>
        <%= portal_logo %>
        <a class="site-logo" href="<%=edsc_path root_path %>">
          <span class="site-logo-org"><%= site_logo_org %></span>
          <%= site_logo_title %>
        </a>
        <% unless Rails.configuration.logo_name.blank? %>
          <span class="version-badge"><%= Rails.configuration.logo_name %></span>
        <% end %>
      </h1>
    </header>

    <div class="project-info-details">
      <div class="bounding-box">
        <div class="bounding-box-map"></div>
      </div>
      <h3>Variables</h3>
      <h3>Transformations</h3>
      <h3>Output Formats</h3>
    </div>
    <footer class="project-info-actions">

    </footer>
  </section>
  <section class="project-collections">
    <div class="project-title-container">
      <h2><!-- ko text: workspaceName() ? workspaceName() : 'Untitled Project' --><!-- /ko --></h2>
      <%= render partial: 'shared/workspace_name' %>
    </div>
    <ul class="project-stats">
      <li><span class="value" data-bind="text: projectSummary()['granule_count']"></span> <!-- ko text: projectSummary()['granule_count'] != 1 ? 'Granules' : 'Granule' --><!--/ko--></li>
      <li><span class="value" data-bind="text: project.collections().length"></span> <!-- ko text: project.collections().length != 1 ? 'Collections' : 'Collection' --><!-- /ko --></li>
      <li><span class="value" data-bind="text: projectSummary()['size']"></span> <!-- ko text: projectSummary()['unit']--><!-- /ko --></li>
    </ul>
    <div class="project-collection-cards">
      <!--ko foreach: project.collections()-->
        <div class="collection-card">
          <h3 data-bind="text: title"></h3>
          <div class="granule-count" data-bind="text: "></div>
        </div>
      <!--/ko-->
    </div>
    <footer class="project-collection-notes">

    </footer>
  </section>
</div>
