<% content_for(:main_wrapper_class, "project")%>

<% content_for :javascript do %>
  <%= javascript_include_tag "projects" %>
<% end %>

<% content_for :toolbar_secondary do %>
  <a class="back-button back-to-search toolbar-button" href="#" data-bind="click: project.backToSearch"><i class="fa fa-arrow-circle-o-left"></i> Back to Search Session</a>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="master-overlay">
  <%= render partial: 'shared/overlay_parent' %>
  <div class="map map-placeholder"></div>
  <section class="project-info-sidebar" style="display: none;">
    <header>
      <h1>
        <a class="nasa-logo" href="<%= root_path %>" title="Earthdata Search Home"></a>
        <%= portal_logo %>
        <a class="site-logo" href="<%=edsc_path root_path %>">
          <span class="site-logo-org"><%= site_logo_org %></span>
          <%= site_logo_title %>
        </a>
        <% unless Rails.configuration.logo_name.blank? %>
          <span class="version-badge"><%= Rails.configuration.logo_name %></span>
        <% end %>
      </h1>
    </header>

    <div class="project-info-details" style="display: none;">
      <div class="bounding-box">
        <div id="bounding-box-map" class="bounding-box-map"></div>
        <div class="collection-constraint-details">
          <div class="project-details-row" data-bind="visible: $root.hasType()"><i class='fa fa-map-o fa-fw' aria-hidden='true'></i>  <span class="project-details" data-bind="text: $root.showType()"></span></div>
          <div class="project-details-row" data-bind="visible: $root.showTemporal()"><i class='fa fa-calendar-o fa-fw' aria-hidden='true'></i>  <span class="project-details" id="temporal-label" data-bind="text: $root.showTemporal()"></span></div>
        </div>
      </div>
      <h3>Variables</h3>
      <ul class="selected-collection-variables" data-bind="foreach: project.collections()">
        <!-- ko if: hasSelectedVariables() -->
        <li>
          <span data-bind="text: $data.collection.id"></span>
          <ul data-bind="foreach: selectedVariables()">
            <li data-bind="text: $data.displayName()"></li>
          </ul>
        </li>
        <!-- / -->
        <!-- /ko -->
      </ul>
      <h3>Transformations</h3>
      <h3>Output Formats</h3>
    </div>
    <footer class="project-info-actions" style="display: none;">
      <div class="project-download-tooltip" data-tooltip="true" data-bind="css: { 'project-download-tooltip-disabled': !$root.project.allReadyToDownload() }, attr: { 'title': $root.project.allReadyToDownload() ? '' : 'At least one of your collections is not configured correctly. Please double check your customization selections.', 'data-original-title': $root.project.allReadyToDownload() ? '' : 'At least one of your collections is not configured correctly. Please double check your customization selections.' }" title="At least one of your collections is not configured correctly. Please double check your customization selections.">
        <button data-bind=" click: $root.downloadProject, style: { pointerEvents: $root.project.allReadyToDownload() ? 'auto' : 'none' }, attr: { disabled: !$root.project.allReadyToDownload() && !$root.project.isLoadingComplete()}" href="#" class="button button-full button-download-data" disabled>
          <i class="fa fa-download" aria-hidden="true"></i> Download Data
        </button>
      </div>
    </footer>
  </section>
  <section class="project-collections" style="display: none;">
    <div class="project-title-container">
      <h2 class="project-panel"><!-- ko text: workspaceName() ? workspaceName() : 'Untitled Project' --><!-- /ko --></h2>
      <%= render partial: 'shared/workspace_name' %>
    </div>
    <div class="project-stats">
      <ul class="project-panel" data-bind="fadeVisible: isLoaded">
        <!-- ko if: project.collections().length > 0 -->
        <li class="granule-count">
          <span class="value" data-bind="text: projectSummary() ? projectSummary()['projectGranules'] : 'Loading'"></span>
          <!-- ko text: projectSummary() && projectSummary()['projectGranules'] != 1 ? 'Granules' : 'Granule' --><!--/ko-->
        </li>
        <li class="collection-count">
          <span class="value" data-bind="text: project.collections().length"></span>
          <!-- ko text: project.collections().length != 1 ? 'Collections' : 'Collection' --><!-- /ko -->
        </li>
        <li class="project-size" data-bind="visible: sizeProvided">
          <span class="value" data-bind="text: projectSummary() ? projectSummary()['projectSize']['size'] : 'Loading'"></span>
          <!-- ko text: projectSummary() && projectSummary()['projectSize'] ? projectSummary()['projectSize']['unit'] : 'MB' --><!-- /ko -->
          <span id="info-container">
            <a class="info" href="#" data-container="#info-container" data-tooltip="true" data-placement="right" data-title="This is the estimated overall size of your project. If no size information exists in a granule's metadata, it will not be included in this number. The size is estimated based upon the first 20 granules added to your project from each collection."><i class="fa fa-info-circle" aria-hidden="true"></i></a>
          </span>
        </li>
        <!-- /ko -->
      </ul>
    </div>

    <div class="project-collection-cards" style="display: none">
      <!-- ko if: project.collections().length == 0 -->
      <p id="project-empty-notice">Your project is empty. <a href="#" data-bind="click: project.backToSearch">Click here</a> to return to search and add collections to your project.</p>
      <!-- /ko -->

      <!-- ko foreach: project.collections() -->
        <div class="collection-card">
          <div class="collection-card-content">
            <h3 data-bind="text: collection.truncatedTitle, attr: {title: collection.title}"></h3>
            <div class="collection-extra">
              <div class="label-primary">
                <!-- ko if: isLoadingComplete() -->
                  <span data-bind="text: collection.granule_hits, fadeVisible: isLoadingComplete"></span> <!--ko text: collection.granule_hits != 1 ? 'Granules' : 'Granule' --><!--/ko --></span>
                <!-- /ko -->
              </div>
              <!-- ko if: !isLoadingComplete() -->
              <div class="collection-capability-loading">
                <div class="loading-content collection-capability-loading-granules"><span class="loading-content-inner"></span></div>
                <div class="loading-content collection-capability-loading-details"><span class="loading-content-inner"></span></div>
              </div>
              <!-- /ko -->
              <!-- ko if: isLoadingComplete() -->
              <div class="collection-capability" data-bind="fadeVisible: isLoadingComplete">
                <!-- ko if: collection.has_spatial_subsetting() -->
                <span data-bind="css: {enabled: spatialSubsettingEnabled()}">
                  <i class="fa fa-globe" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Spatial subsetting options available"></i>
                </span>
                <!-- /ko -->
                <!-- ko if: collection.has_variables -->
                <span data-bind="css: {enabled: variableSubsettingEnabled()}">
                  <i class="fa fa-tags" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Variable subsetting options available"></i>
                </span>
                <!-- /ko -->
                <!-- ko if: collection.has_transforms -->
                <span data-bind="css: {enabled: transformationSubsettingEnabled()}">
                  <i class="fa fa-sliders" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Data transformation options available"></i>
                </span>
                <!-- /ko -->
                <!-- ko if: collection.has_formats -->
                <span data-bind="css: {enabled: reformattingSubsettingEnabled()}">
                  <i class="fa fa-file-text-o" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Reformatting options available"></i>
                </span>
                <!-- /ko -->
                <!-- <span data-bind="css: {enabled: serviceOptions.readyToDownload}">
                  <i class="fa fa-check" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Collection is ready to download"></i>
                </span> -->
              </div>
              <ul class="label-secondary text-info list-inline list-divided">
                <li>
                  <span>Estimated Size: </span><!-- ko text: collection.total_size() + ' ' + collection.unit() --><!--/ko-->
                </li>
                <li>
                  <a class="clean underline subtle" href="#" data-toggle="modal" data-bind="attr: {'data-target': '#' + collection.id + '-modal'}">View Granules</a>
                </li>
              </ul>
              <!-- /ko -->
            </div>
          </div>
          <div class="action-container" style="display: none;">
            <!-- <a class="action-button customize" data-toggle="modal" data-bind="visible: isCustomizable(), click: launchCustomizationModal, css: {enabled: isLoadingComplete()}">Customize</a> -->

            <a class="action-button edit" data-toggle="modal" data-bind="click: launchEditModal, css: { enabled: isLoadingComplete()}"><i class="fa fa-cog"></i> Edit Options</a>

            <a class="action-button remove" title="Remove collection from the current project" data-bind="click: $root.removeProjectCollection"><i class="fa fa-minus"></i></a>
          </div>

          <%= render partial: 'access_method_selection' %>
          <%= render partial: 'granule_list_modal' %>
        </div>
      <!-- /ko -->
    </div>
    <footer class="project-collection-notes" style="display: none;">

    </footer>
  </section>

  <!-- Hidden form for submitting project data -->
  <form id="data-access" method="POST" action="<%=edsc_path "/data/retrieve"%>" style="display:none;">
    <div>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <input id="data-access-project" name="project" type="hidden">
    </div>
  </form>
</div>
