<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= "[DEV]" if Rails.env.development? %> Earthdata Search</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico?v=1.1">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= yield :javascript %>
    <%= javascript_include_tag "https://cdn.uat.earthdata.nasa.gov/tophat/tophat.js" unless Rails.env.test? %>
</head>
<body class="env-<%= Rails.env %> <%= controller.controller_name %>-page" data-bind="css: {'is-landing': ui.isLandingPage}" >
    <div class="wrap">
    <%= yield :header %>
    <header id="main-toolbar" class="toolbar">
      <h1><a class="ir" href="/search">Earthdata Search</a></h1>
      <div class="toolbar-content">
        <%= yield :toolbar %>
      </div>
    </header>
    <section class="main-content">
      <%= yield %>
    </section>
    </div>
    <footer>
      <%= yield :footer %>
      <div class="footer-content">
        <p><span class="version">v <strong>0.8.0</strong></span> • <strong>NASA Official:</strong> Kevin Murphy • <span class="nasa-links"><a href="http://www.hq.nasa.gov/office/pao/FOIA/agency/">FOIA</a> • <a href="http://www.nasa.gov/about/highlights/HP_Privacy.html#.Uu-qOHddVm0">NASA Privacy Policy</a> • <a href="http://www.usa.gov">USA.gov</a> • <a href="http://www.usa.gov">ExpectMore.gov</a></span></p>
      </div>
    </footer>
    <%= yield :global %>

    <% unless Rails.env.test? || Rails.env.development? %>
      <%= javascript_include_tag "ntpagetag" %>
      <noscript>
        <img src="<%= image_path "https://ws1.ems.eosdis.nasa.gov/images/ntpagetag.gif?js=0" %>" alt="">
      </noscript>
    <% end %>
</body>
</html>
