<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie11 lt-ie10 lt-ie9"> <![endif]-->
<!--[if lte IE 9]>     <html class="no-js lt-ie11 lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" <% if Rails.env.test? %>code="<%= response.try(:code) if defined?(response) %><% end %>>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= site_page_title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico?v=1.1">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <script>
      window.tokenExpiresIn = <%= logged_in? ? script_session_expires_in : 'null' %>;
      window.tokenLoadTime = +new Date();
      window.echoEnv = "<%= cmr_env %>";
      window.edscportal = "<%= portal_id %>";
    </script>
    <%# Google Tag Manager %>
    <% if Rails.configuration.respond_to?(:tag_manager_id) %>
    <script>
      var dataLayer = window.dataLayer = window.dataLayer || [];

      <% if Rails.env.development? && Rails.configuration.respond_to?(:analytics_id) %>
        dataLayer.push({
          'event': 'localIdentifier',
          'localGAProperty': '<%= Rails.configuration.analytics_id %>'
        });
      <% end %>
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= Rails.configuration.tag_manager_id %>');
    </script>
    <% end %>
    <%# End Google Tag Manager %>
    <%= yield :javascript %>
    <% portal_scripts.each do |script| %>
    <%= javascript_include_tag script %>
    <% end %>
    <%= javascript_include_tag "jquery.simulate" if Rails.env.test? %>
    <!--[if lt IE 10]> <%= javascript_include_tag "flexibility" %> <![endif]-->
</head>
<body id="edsc" class="env-<%= Rails.env %> <%= controller.controller_name %>-page">
    <%# Google Tag Manager (noscript) %>
    <% if Rails.configuration.respond_to?(:tag_manager_id) %>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= Rails.configuration.tag_manager_id %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <% end %>
    <%# End Google Tag Manager (noscript) %>
    <div id="earthdata-tophat2" class="th-wrapper"></div>
    <% if portal_nav? %>
    <nav class="main-nav portal-nav"><%= portal_nav %></nav>
    <% end %>
    <div class="main-wrapper <%= yield (:main_wrapper_class) %>">
    <%= yield :header %>
    <header id="main-toolbar" class="toolbar">
      <div class="toolbar-content">
        <%= yield :toolbar %>
      </div>
    </header>
    <div class="toolbar-secondary">
      <%= yield :toolbar_secondary %>
    </div>
    <section class="main-content">
      <%= yield %>
    </section>
    </div>
    <footer class="main-footer">
      <%= yield :footer %>
      <div class="footer-content">
        <p>
          <span class="version">v <strong><%= Rails.configuration.version %></strong></span> •
          <!-- ko if: $data.collections -->
          Search Time: <span data-bind="text: collections.loadTime">0.000</span>s •
          <!-- /ko -->
          <strong>NASA Official:</strong> Stephen Berrick •
          <span class="nasa-links">
            <a href="http://www.nasa.gov/FOIA/index.html">FOIA</a> •
            <a href="http://www.nasa.gov/about/highlights/HP_Privacy.html#.Uu-qOHddVm0">NASA Privacy Policy</a> •
            <a href="http://www.usa.gov">USA.gov</a>
          </span>
          <span class="accessibility">
            <a href="https://access.earthdata.nasa.gov">
              Earthdata Access: A Section 508 accessible alternative
            </a>
          </span>
        </p>
      </div>
    </footer>
    <%= yield :global %>
    <%= render partial: 'shared/components/index' %>

    <% if Rails.configuration.gather_metrics %>
      <%= javascript_include_tag "ntpagetag" %>
      <noscript>
        <img src="<%= image_path "https://ws1.ems.eosdis.nasa.gov/images/ntpagetag.gif?js=0" %>" alt="">
      </noscript>
      <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/2090.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
      </script>
    <% end %>

    <%= javascript_include_tag Rails.configuration.tophat_url, id: 'earthdata-tophat-script', :'data-show-status' => true, :'data-status-api-url' => 'https://status.earthdata.nasa.gov/api/v1/notifications', async: true, defer: true if Rails.configuration.tophat_url.present? %>

    <% if Rails.configuration.feedback_url.present? %>
      <%= javascript_include_tag Rails.configuration.feedback_url, id: 'feedback-tag', async: true, defer: true if Rails.configuration.feedback_url.present? %>
      <script type="text/javascript">
        (function() {
          var initFeedback = function() {
            window.feedback.init({showIcon: false});
          }
          if (window.feedback) {
            initFeedback();
          }
          else {
            document.getElementById('feedback-tag').onload = initFeedback;
          }
        })();
      </script>
    <% end %>
</body>
</html>
