<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earthdata Search</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico?v=1.1">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body class="env-<%= Rails.env %>" data-bind="css: {'is-landing': ui.isLandingPage}" >
    <div class="wrap">

    <div class="earthdata-tophat">Earthdata Tophat</div>
    <header id="main-toolbar" class="toolbar">
      <h1><a class="ir" href="#">Earthdata Search</a></h1>
      <div class="toolbar-content">
        <%= yield :toolbar %>
      </div>
    </header>
    <section class="main-content">
      <%= yield %>
    </section>
    </div>
    <footer>
      <div class="footer-content">
        <p>NASA Earthdata Search Client</p>
      </div>
    </footer>
</body>
</html>
